BODY {background-color: #fff;font-size:12px;font-family:arial,helvetica,sans-serif;margin:0px;padding:0px;min-width:800px;}
.pageWrapper {margin: 0px; width:100%;}

#header {z-index:99;}
/* footer */
#footer {padding:5px;display:block;}
#provider a{display:block;text-indent:-999em;width:90px;height:40px;background:url(../images/logo_sw_global.gif) no-repeat top right ;}
#content {z-index:1;min-height:350px;_height:350px;color:#000;padding: 0px 10px;width:986px}
#foot_note {margin-top:10px;text-align:center;display:block;color:#008800;}
/* defaults */
h1 {margin:5px 0px;}
h2 {margin:5px 0px;}
table {width:100%;}
sup{text-transform:lowercase;}
/* head menu */
#header .navMenu {height:34px;z-index:99;}
#header .navMenu a {padding:10px 18px;}
#header .navMenu li ul a {padding:5px 10px;}
#bx_toparea {position:relative;}
#site_logo {position:absolute;width:650px;top:10px;left:10px;}
#site_logo .bx_nislogo {
	/*background-image: url(../images/nis.png);*/
	height: 73px;
	width: 52px;
	float:left;
}
#site_logo .bx_nis_title {	text-decoration: none;	float: left;	padding: 0px;margin:20px 10px;width:550px;}
#site_logo .bx_nis_title h1 {font-size: 30px;	color: #0C4C2B;	}


#site_login {position:absolute;bottom:10px;right:10px;}
#timeclock {position:absolute;top:10px;right:10px;font-size:80%;letter-spacing:1px;}
#pageHead {position:relative;margin:0px;padding:0px;border-top:1px solid #fff;
-moz-border-radius-bottomleft : 5px; -webkit-border-bottom-left-radius : 5px;
-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius : 5px;
}
#pageHead h1{margin:0px;padding:5px;}
#copywright {font-size:9px;}

#contentBody {margin: 20px;}
/* table data grid */
.tGrid {width:100%;border-collapse:collapse;border:1px solid #ccc;}
.tGrid td, .tGrid th {border:1px solid;padding: 3px 5px;}
.tGrid thead tr{background:#E2E2E2; color:#333;}
.tGrid thead tr.first{}
.tGrid thead tr.last{}
.tGrid th {border-right:1px solid #ccc;}
.tGrid th.first {}
.tGrid th.last {}
.tGrid tbody tr{border-top:1px dotted #ccc;}
.tGrid tbody tr.first{}
.tGrid tbody tr.last{}
.tGrid tbody td {}
.tGrid tbody td.first {}
.tGrid tbody td.last {}
.tGrid tbody tr:hover {background:#fafafa;color:#333;}
.tGrid tbody tr:hover a{color:#333;}

.tGrid input, .tGrid select, .tGrid textarea {width:97%;}

.paging {padding:5px;float:none;clear:both;}
.paging img{border:0px;}
.paging.pagingHead{text-align:left;}
.paging.pagingFoot{text-align:right;}


/* error list formating */
.error_list{text-align:center;height:25px;margin:10px 20%; }
.error_list span{border:0px dotted #ff0000;padding:3px 10px;line-height:22px; }
#flash_error span, #flash_notice span{-moz-border-radius : 3px; -webkit-border-radius : 3px; }
.dlForm .required {color:#ff0000;}
input.calBtn , button.calBtn {height:18px;width:20px;position:absolute;margin-top:2px;margin-left:2px;background:url(../images/ico_cal.gif) no-repeat;border:0px;cursor:pointer;padding:10px;}

/* Thumbnail / Gallery View
________________________________*/
.thumbView {text-align:center;margin:10px auto;}
.thumbView .row{float:left;margin:10px 10px; border:1px solid #ccc;}
.thumbView .row .item { display:block;}
.thumbView .row .item span {display:block;text-align:left; padding:0px 5px;}
.thumbView .row .item span.photo { padding:0px;}
.thumbView .row .item .photo img{/*border:1px solid #333333;*/}
.thumbView .row .item span.title {font-weight:bold; color:#fff;}
.thumbView .row .item span.owner{font-size:80%;}
.thumbView .row .item span.cmdSelect {border:3px solid transparent;}
/* Multi Select Effect*/
.thumbView .row .item.selected .photo {border-color:#3777F2;}
.thumbView .row .item.selected img{border-color:#cccccc;}
.thumbView .row .item.selected span.title a {color:#3777F2;}
.thumbView .row .item.selected span.owner a {color:#3777F2;}


/* DASHBOARD */

#dashboard.thumbView .row {width:200px; background:#ccc url('../img_admin/alpha_grd_fff.png') repeat-x top ;-moz-border-radius : 5px; -webkit-border-radius : 5px;
-moz-border-radius: 5px; -webkit-border-radius : 5px;
}

#dashboard.thumbView .item {text-align:left;}
#dashboard.thumbView .item h3 {color:#0066CC; margin:0px;padding: 3px 5px; font-size:14px;}
#dashboard.thumbView .itemBody {background:#fff;margin:0px 3px 3px;padding:5px;}


/* default forms  */
#multiForm fieldset{border-width:0px;}
.dlForm fieldset {width:90%;}
.dlForm .multiForm fieldset {width:90%;border-width:1px;width:95%;}
.dlForm fieldset legend, .dlForm fieldset .legend{font-weight:bold;
color:#008837;font-weight:bold;margin:0 15px;padding:4px 10px;height:22px;position:relative;top:-2px;!top:-3px;font:bold .88em tahoma;
}
.dlForm .multiForm fieldset legend, .dlForm .multiForm fieldset .legend{font-weight:normal;
color:#008837;font-weight:bold;margin:0 15px;padding:4px 10px;height:22px;position:relative;top:-2px;!top:-3px;font:bold .88em tahoma;
}
.dlForm dd .fcol .error{display:inline;}


/*login form*/
#loginForm{border:1px solid #ccc; width:600px;margin:20px auto;}
#loginHead{background: url(../img_admin/login_header.png) no-repeat;border-bottom:1px solid #ccc; border-top:1px solid #fff;height:75px; }
#loginHead h1 {font-size:24px!important;color:#008837;margin-top:20px;margin-left:80px;background:none!important;padding:0px!important}

/* calender */
.calendar table {width:auto;}


.reportGuidelines ul{margin-left:20px;}
.academic_qualification_table tr td{padding:5px!important;}

.redLbl {color:#FF6633;}