
/* defaults */
a {color:#0C4C2B;}
h1 {color: #008837;font-size:20px;font-weight:normal;}
h2 {color: #008837;font-size:16px;font-weight:normal;}

/* header*/
#bx_toparea{ background: #f1f1f1 URL(../img_admin/alpha_grd_fff.png) repeat-x left top;height:100px;}
#headLinks{ background: #008837 URL(../img_admin/alpha_grd_000_rev.png) repeat-x;height:20px;border-bottom:1px solid #ccc;}
#site_login span {color:#009900;padding:0px 5px; font-weight:bold;}
#site_login a {color:#CC9900;}
/* content */

#pageHead {color:#000;background: #dfdfdf url(../img_admin/alpha_grd_fff.png) repeat-x left top;margin-bottom:10px; }
#pageHead h1 {color:#008837; padding-left: 20px; background: url('../img_admin/h1_ico_default.png') no-repeat 5px ;font:normal 1.14em/30px Tahoma, Geneva, sans-serif;height:30px;padding-left:37px;text-align:left; }
#pageHead h1._form {background-image: url('../img_admin/h1_ico_form.png') ; }
#pageHead h1._report {background-image: url('../img_admin/h1_ico_report.png'); }

#footer {background: url(../img_admin/footer_grd_bg.png) repeat-x;min-height:40px;border-top:1px solid #ccc;padding:5px;}

/* form formater */
.dlForm label, .dlForm .label{ color:#333}
.dlForm a {color:#333}
.dlForm h1{border:0px;}
.dlForm .fcol .fElement {font-size:110%;}
.dlForm legend, .dlForm .legend {color:#333;background:#fff;}
.dlForm .fcol .error {color:#f63;}

/* Head Menu */
#header .navMenu a:hover {color:#009900;}
.navMenu li:hover a, .navMenu li.sfhover a,.navMenu li:hover a:hover, .navMenu li.sfhover a:hover {color:#009900;background: url(../img_admin/header_highlight.png) repeat-x;	}
.navMenu li:hover  ul li a, .navMenu li.sfhover ul li a, .navMenu li:hover  ul li a:hover,.navMenu li.sfhover  ul li a:hover{background:transparent;	}


/* dashboard */
#dashboard{width:500px;}
#dashboard.thumbView .item {text-align:left;}
#dashboard.thumbView .item h3 {color:#336600;font-size:12px;padding:5px;}
#dashboard.thumbView .itemBody {background:#fff;border-top:1px solid #999;padding:10px;}
#dashboard.thumbView .itemBody a {color:#336600;} 

/* error / notice flash messages */
#flash_notice span{border-width:0px; color:#fff;background: #008837; }
#flash_error span{border-color:#f00;color:#fff;background: #f63;}

/* data Grid styling */
.tGrid thead {background:#ff9900;}
.tGrid tbody {background:#f8f8f8;}
.tGrid thead tr, .tGrid thead tr th{background-color: #e2e2e2; background-image: url(../img_admin/alpha_grd_fff.png); background-repeat: repeat-x; height:25px;}
.tGrid tfoot{background:#ccc;border-top:1px solid #333}
.tGrid tr.even, .tGrid tr.even td{background:#f8f8f8;}
.tGrid tr.odd, .tGrid tr.odd td{background:#f5f5f5;}
.tGrid tr .last {}
.tGrid tr .first {}
.tGrid td,.tGrid th {border-color:#ccc;}
.pagingHead {color:#0066CC;}



/* TEXT colors */
.cBlack {color:#000;}
.cRed {color:red}
.cMaroon {color:maroon;}
.cNavy{color:navy}
.cPurple{color:purple;}
/* BACKGROUND colors */
.bBlack {background:#000;}
.bRed {background:red}
.bMaroon {background:maroon;}
.bNavy{background:navy}
.bPurple{background:purple;}
.numberFormat{text-align:right;}
.numberFormatCenter{text-align:center;}
