/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2014, 2:09:01 PM
    Author     : Mohd Afzal
*/
body {
    font-family: Verdana;
    position: relative;
    color: #2b2b2b;
}

a:hover {
    text-decoration: none;
}

.main-content {
    min-height: 465px;
    background-color: #fff;
    visibility: hidden;
}

#admin-page .main-content {
    margin-top: 20px;
}

.navbar-top {
    border-top: 5px solid #3BB42E;
    border-radius: 3px;
    margin-bottom: 5px;
    z-index: 100;
    background-color: #fff;
}

.navbar-top .nav>li>a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2b2b2b;
}

.navbar-top .nav>li.active>a {
    color: #3bb42e;
}

.navbar-top .nav>li>a:hover, .navbar-top .nav>li>a:focus {
    text-decoration: none;
    background-color: #A5E545;
    color: #fff;
}

.navbar-top .nav>li.active {
    border-bottom: 2px solid #3bb42e;
}

.navbar-top .navbar-header img {
    width: 70%;
}

#header {
    background-color: #fff;
}

#inner-page .navbar-top,
#admin-page .navbar-top {
    min-height: 100%;
}

#inner-page .navbar-top .navbar-header,
#admin-page .navbar-top .navbar-header {
    height: 20px;
}

#inner-page .navbar-top .nav {
    height: 20px;
}

#inner-page .navbar-top .nav a,
#admin-page .navbar-top .nav a {
    padding: 0 10px;
    font-size: 10px;
}

.banner {
    width: 100%;
    max-height: 200px;
}

.carousel-inner .item {
    background-color: #000;
}

.carousel-inner .item img {
    width: 100%;
    opacity: .75;
}

.carousel-inner {
    border-radius: 4px 4px 0 0;
}

.carousel-control.right, .carousel-control.left {
    border-radius: 4px;
}

.carousel-caption {
    background-color: rgba(63, 136, 72, 0.7);
    -webkit-animation: slidein 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: .4s;
    -webkit-animation-timing-function: ease-in-out;
    animation: slidein 1s;
    animation-fill-mode: both;
    animation-delay: .4s;
    animation-timing-function: ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slidein {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 6%;
    }
}

/* Standard syntax */
@keyframes slidein {
    0% {
        bottom: 100%;
    }

    100% {
        bottom: 6%;
    }
}

.carousel-caption>h1 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
}

.carousel-caption>*:last-child {
    margin-bottom: 10px;
}

.alert-important {
    background-color: #3bb42e;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.alert-important span {
    font-size: 21px;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 2px solid #fff;
}

.thumbnail-custom {
    padding: 0;
    text-align: center;
    background: url('../images/thumbnails/bg.png');
    background-color: #0A380A;
    transition: all .5s ease-in-out;
}

.thumbnail-custom:hover {
    background-color: #116611;
}

.thumbnail-custom:hover .caption a {
    border-color: #55bb55;
}

.thumbnail-custom>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #116611;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

.thumbnail-custom>a:hover {
    background: transparent;
    background-color: #0A380A;
}

.thumbnail-custom .caption {
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    margin: 10px;
}

.thumbnail-custom .caption a {
    position: relative;
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #116611;
}

.thumbnail-custom .caption a:hover {
    background-color: #0A380A;
}

.thumbnail-custom .caption p {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.navbar-custom {
    border-radius: 0!important;
    border: 0;
    background-color: #3BB42E;
    min-height: 30px;
    margin: 0;
}

.navbar-toggle {
    border-color: #A5E545;
}

.navbar-toggle .icon-bar {
    background-color: #A5E545;
}

.custom-nav {
    width: 100%;
}

.custom-nav > li {
    position: static;
    width: 20%;
    text-align: center;
    white-space: nowrap;
}

.custom-nav > li > a {
    padding: 7px!important;
    font-size: 17px;
    color: #fff;
}

.custom-nav>li>a:hover {
    text-decoration: none;
    background-color: #A5E545;
    border-left: 1px solid #3BB42E;
}

.custom-nav>li>a:focus {
    background-color: #3BB42E;
}

.custom-nav > .dropdown > .dropdown-menu {
    left: 0;
    right: 0;
    border: 5px solid rgba(165, 226, 76, 0.77);
    border-top: 10px solid rgba(165, 226, 76, 0.77);
    border-radius: 0;
    background-color: #f9f9f9;
/*margin-top: -3px;*/;
}

.custom-nav > .dropdown > .dropdown-menu div[class*='col'] {
    padding: 5px;
}

.custom-nav>.open>a, .custom-nav>.open>a:hover, .custom-nav>.open>a:focus {
    background-color: #A5E545;
    color: #085;
}

.custom-nav>.active>a {
    background-color: #A5E545;
    color: #085;
    font-weight: bold;
}

@media (max-width: 767px) {
    
    .navbar-nav .open .dropdown-menu {
        background-color: #fff !important;
    }

    #scroller .scroller,.scroller.affix {
        display: none;
    }

    .custom-nav > li {
        width: 100%!important;
    }
    
    .navbar-top .nav li {
        display: inline-block;
    }
    
    #inner-page .navbar-top .nav, #admin-page .navbar-top .nav {
        height: auto;
    }
    
    .carousel-caption{
        position: static;
        padding: 10px 15px 0;        
    }
    
    .carousel-indicators{
        display: none;
    }

    .row.support-block * {
        font-size: 100% !important;
    }
    
    .row.support-block .title{
        margin-bottom: 10px;
    }

    fieldset dl>dt, .formBorder dl>dt {
        width: 100%!important;
    }

    fieldset dl>dd, .formBorder dl>dd {
        width: 100%!important;
    }
    
    .fcol{
        height: auto!important;
    }

    .fcol .fElement {
        width: 100%!important;
        padding: 0!important;
    }

    .fcol .help {
        width: 100%!important;
        position: relative!important;
        padding: 0!important; 
        border-left: 0!important; 
    }

    .fcol .error {
        width: 100%!important;
        padding: 0!important;
    }



}

@media (max-width: 600px) {
    .date-control{
        width: 100%!important;
    }
}


@media (max-width: 991px) {

    .carousel-caption>h1{
        font-size: 17px;
        margin-top: 0;
    }

    .carousel-caption>p{
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .scroller {
        width: 180px;
    }
    .form-block-well.admin-form-block-well {
        width: 85%;
        margin: 0 auto 15px;
    }
    .form-block-well.admin-form-block-well.small-block {
        max-width: 100%;
    }
    
}

@media (min-width: 992px) {
    .scroller {
        width: 230px;
    }
    .form-block-well.admin-form-block-well {
        width: 65%;
        margin: 0 auto 15px;
    }
}

@media (min-width: 1200px) {
    .scroller {
        width: 280px;
    }
    .form-block-well.admin-form-block-well {
        width: 55%;
        margin: 0 auto 15px;
    }
}

.form-block-body .form-block-well.admin-form-block-well {
    width: 100%;
    margin: 0 auto 15px;
}

.form-block-well.admin-form-block-well.small-block {
    max-width: 400px;
}

.small-block .table-responsive, .small-block .table {
    margin: 0;
}

.scroller {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    z-index: 100;
    background-color: #fff;
}

.scroller li {
    color: #27771e;
    background-color: #dff0d8;
}

.scroller>li+li {
    margin-top: 2px;
    margin-left: 0;
}

.scroller>li>a {
    color: #008B8B;
}

.scroller>li>a:hover,.scroller>li>a:focus {
    text-decoration: none;
    background-color: #A5E545;
    color: #008B8B;
}

.scroller>.active>a {
    color: #fff!important;
    background-color: #3bb42e!important;
    //max-height: 40px;
    //white-space: nowrap;
    //overflow: hidden;
}
/*
.scroller>.active:before {
    content: '';
    border-right: 10px solid #A5E545;
    border-top: 20px solid #A5E545;
    border-bottom: 20px solid #A5E545;
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
}
*/
.scroller.affix {
    position: fixed!important;
    top: 15px;
}

.full-width {
    width: 100%;
}

.mt0 {
    margin-top: 0;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.pad0 {
    padding: 0;
}

.w25 {
    width: 25%;
    float: left;
}

.w30 {
    width: 30%;
    float: left;
}

.w33 {
    width: 33%;
    float: left;
}

.w66 {
    width: 66%;
    float: left;
}

.w100 {
    width: 100%;
}

.menu-tile {
    display: table;
    max-height: 155px;
    min-height: 135px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #A5E546;
    border-radius: 0;
    white-space: normal;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    transition: all .5s ease-in-out;
    width: 100%;
}

.menu-tile a,.menu-tile a:hover {
    font-weight: bolder;
    color: #3BB42E;
    text-decoration: none;
    font-size: 12px;
}

.menu-tile h4 {
    font-size: 14px;
}

.menu-tile p {
    font-size: 12px;
}

.menu-tile img {
    width: 80%;
    margin: auto;
}

.menu-tile .glyphicon {
    margin-left: 5px;
    font-size: 11px;
}

.menu-tile:hover {
    background-color: #3bb42e;
}

.menu-tile:hover,.menu-tile:hover a {
    color: #fff;
}

.pointer-arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFF;
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -10px;
}

.panel-custom {
    border: 1px solid #A5E545;
}

.panel-custom>.panel-heading {
    color: #085;
    background-color: #A5E545;
    border-color: #A5E545;
}

.panel-custom>.panel-body {
    padding: 15px;
}

.text-bold {
    font-weight: bold;
}

.support-block {
    text-transform: uppercase;
    font-weight: bold;
}

.support-block .title {
    font-size: 22px;
    margin-top: 5px;
}

.support-block .phone {
    font-size: 225%;
    text-align: center;
    margin-top: -5px;
}

.support-block .phone:before {
    content: "\e145";
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
/*position: absolute;left: 0;*/;
}

.small-legend {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.form-control-help {
    border-left: 1px solid #e7e7e7;
    font-size: 12px;
}

.calBtn {
    margin: 0 5px;
    background: url(../images/ico_cal.gif) no-repeat!important;
    border: 0!important;
    height: 16px;
    width: 16px;
    border-radius: 0!important;
    padding: 0!important;
    background-size: contain!important;
}

.footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 5px 15px;
    font-size: 11px;
    clear: both;
    border-bottom: 5px solid #3BB42E;
}

.home-page-footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    font-size: 11px;
    clear: both;
    margin-bottom: -20px;
}

.small-footer {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.small-footer li {
    display: inline-block;
    padding: 5px 0;
}

.small-footer li a {
    margin: 0 10px;
    font-weight: bold;
}

.small-footer li+li:before {
    content: "|";
}

.msgBox {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: red;
}

.msgBox ul {
    list-style-type: square;
}

.form-block-well {
    display: table;
    width: 100%;
    min-height: 20px;
    padding: 0;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #A5E545;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form-block-legend {
    background: #F5FAEC;
    padding: 5px 10px;
    border-radius: 4px 4px 0 0;
    position: relative;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 2px solid #A5E545;
    font-weight: normal;
}

.form-block-legend:before {
    content: "\e011";
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3BB42E;
    margin-right: 5px;
}

.form-block-legend >* ,.panel-title>* {
    padding: 0;
    border: 0;
    background: none;
    font-size: inherit;
    margin: 0;
    display: inline-block;
}

.form-block-body {
    padding: 15px;
    clear: both;
}

.form-block-body .form-block-body {
    background-color: #dff0d8;
}


fieldset dl,
.formBorder dl,
#loginForm dl {
    display: table;
    width: 100%;
}

fieldset dl>dt,
.formBorder dl>dt {
    float: left;
    width: 25%;
}

fieldset dl>dd,
.formBorder dl>dd {
    float: left;
    width: 75%;
}

#admin-page dl>dt {
    float: left;
    width: 45%;
}

#admin-page dl>dd {
    float: left;
    width: 55%;
}

.no-effect {
    padding: 0;
    border: 0;
    background: none;
}

.inner-well {
    background-color: #dff0d8;
    border-color: #dff0d8;
}

fieldset>legend {
    float: left;
}

legend {
    border-bottom-color: #A5E545;
}

.fcol {
    padding: 0;
    margin: 0;
    position: relative;
}

.fcol li {
    display: inline-block;
}

.fcol .fElement {
    width: 55%;
    padding: 0 15px;
}

.fElement.full-width {
    width: 100%;
}

.fcol .fElement .radio_list {
    padding: 0;
}

.fcol .fElement .radio_list li {
    margin-right: 15px;
}

#loginForm dl>dd>:not(.fcol) {
    margin-left: 10px;
}

[id*='date'] select,[id*='_last_arrival_'] select,[id*='_dt_row'] select,.date-control {
    min-width: 27%;
    width: auto;
    display: inline;
}

.fcol .help {
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    color: #8a6d3b;
    padding: 0 15px;
    border-left: 1px solid #e7e7e7;
    font-size: 12px;
}

.fcol .help br {
    display: none;
}

.fcol .error {
    width: 55%;
    color: red;
    padding: 0 15px;
}

#admin-page .fcol .fElement {
    width: 100%;
}

#admin-page  .fcol .help {
    width: 100%;
    position: relative; 
    border-left: 0; 
}

#admin-page   .fcol .error {
    width: 100%;
}

[id*='_terms_id_row'] .fElement {
    float: left;
    width: auto;
    padding-right: 5px;
}

[id*='_terms_id_row']  .help {
    width: 90%;
    float: left;
    position: relative;
    border: 0;
    padding: 0;
}

[id*='_captcha_row'] .fElement img {
    margin-bottom: 5px;
}

.popHeightContainer {
    position: absolute;
    left: 210px;
    z-index: 100;
}

.popContent .dlForm {
    background-color: #fff;
    padding: 0 15px 15px;
    border: 1px solid #A5E545;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.popContent .dlForm>h3 {
    color: #fff;
    background-color: #3bb42e;
    border-color: #3bb42e;
    margin: 0 -15px 15px;
    padding: 10px 15px;
    font-size: 16px;
}

.popContent .dlForm dl>dt,.popContent .dlForm dl>dd {
    float: left;
    width: 50%;
}

.XY20, .highlight, .highlight_new {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.XY20>h3, .highlight>h3, .highlight_new>h3 {
    margin-top: 0;
}

.X20 {
    margin: 0 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.Y20 {
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.yellow {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.green {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}


.black {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.red, .inst_red {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: red;
}

label sup {
    color: red;
}

.staticStyleLeft {
    padding-top: 40px;
}

.staticStyleRight {
    padding-top: 10px;
}

.faQ {
    color: black;
    font-size: 14px;
}

.username {
    text-align: right;
    text-transform: capitalize;
    font-weight: bold;
    color: brown;
}

#timeclock {
    font-size: 70%;
    text-align: right;
}

center#multiFormNav {
    padding: 0!important;
}

.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
    border: 1px solid #ddd;
}

input[type='text']+input[type='submit'] {
    margin-top: 15px;
    margin-left: -5px;
}

.table-responsive>.tGrid.table>thead>tr>th, .table-responsive>.tGrid.table>tbody>tr>th, .table-responsive>.tGrid.table>tfoot>tr>th, .table-responsive>.tGrid.table>thead>tr>td, .table-responsive>.tGrid.table>tbody>tr>td, .table-responsive>.tGrid.table>tfoot>tr>td {
    white-space: nowrap;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    //border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

table dt:before{
    content: ".";
    visibility: hidden;
}

.paging {
    padding: 5px;
    float: none;
    clear: both;
}

.paging img {
    border: 0px;
}

.paging.pagingHead {
    text-align: left;
}

.paging.pagingFoot {
    text-align: right;
    margin: -10px 0 0 0;
    padding: 0;
    float: right;
}

.paging.pagingFoot:after {
    content: " ";
    clear: both;
}

.pagingHead {
    color: #0066CC;
}

.pagination>li>a, .pagination>li>span{
    cursor: pointer;
}

.pixbr {
    clear: both;
}

#flash_error {
    margin: 0;
}

.panel-body #flash_error {
    margin-bottom: 20px;
}

.tGrid{font-size: 90%;}

.tGrid th{text-align: center;}

.tGrid.table>thead>tr>th, .tGrid.table>tbody>tr>th, .tGrid.table>tfoot>tr>th, .tGrid.table>thead>tr>td, .tGrid.table>tbody>tr>td, .tGrid.table>tfoot>tr>td {
    padding: 5px;
}

table.bdr{font-size: 90%;}

table.bdr>thead>tr>th, table.bdr>tbody>tr>th, table.bdr>tfoot>tr>th, table.bdr>thead>tr>td, table.bdr>tbody>tr>td, table.bdr>tfoot>tr>td {
    padding: 5px;
}

#admin-page .main-content>.container{
    width: 100%;
    max-width: 1170px;
}

#noscript {
    background: url("../images/alpha_ffff99_70.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #999;
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    width: 100%;
}
#noscript div {
    margin: 20px auto;
    text-align: center;
    width: 50%;
}
#noscript h1 {
    color: #cc0000;
}
#noscript h1, #noscript h3 {
    display: inline;
}
.redTxt,.cRed {
    color: red;
}

.contentul>li {
    margin-bottom: 20px;
}

.checkbox_list{
    padding: 0;
}

.checkbox_list>li {
    display: block;
}

#visaGuidelines{
    margin-bottom: 0;
    padding-bottom: 0;
}

#visaGuidelines+div{
    padding-top: 0;
}

#application_data{
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

#left-shadow-box {
    margin-top: 20px;
    margin-left: 15px;
}

.left-shadow-box{
    width: 48%;
    display: inline-block;
}

.left-shadow-box-img {
    margin: 0 auto;
}

th[align=right]{
    text-align: right;
    padding: 8px;
}