/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2014, 3:45:51 PM
    Author     : Mohd Afzal
*/


h1{font-size: 25px;}
.formBorder{padding: 0;margin: 0;border: 0!important;width: 100%;}

.navbar-top{position: absolute;}
.panel.panel-custom .col-sm-3.pad0,#pageWrapBottom,.footer,.navbar-toggle,
.navbar-top .container-fluid .navbar-collapse,.navbar-custom,.btn,
.fcol .help,.form-control-help,.fcol .error,.paging.pagingFoot
{display: none !important;}
.banner{z-index: 1;margin-bottom: 20px;}
.navbar-brand img{position: absolute!important;top: 0;z-index: 10000;width: 100px!important;height: 100px;left: 50px;}
.msgBox{margin: 20px 0;}




.date-control {min-width: 27%;width: auto;display: inline;}



fieldset{border: 0;padding: 15px;margin: 0;}

.xform-block-well{display: table;width: 100%;min-height: 20px;padding: 0;margin-bottom: 20px;background-color: #fff;border: 1px solid #000;
            border-radius: 0;/*page-break-inside: avoid;*/margin-top: 15px;}

.xform-block-legend{background: #fff;padding: 5px 10px;border-radius: 4px 4px 0 0;position: relative;margin-bottom: 0;display: block;width: 100%;
    font-size: 21px;line-height: inherit;color: #333;border: 0;border-bottom: 1px solid #000;font-weight: normal;
}

//.form-block-legend >*{padding: 0;background: none;font-size: inherit;margin: 0;display: inline-block;}
.form-block-body{padding: 15px;clear: both;}
.form-block-body .form-block-body{background-color: #fff;}

legend,.legend,.legend_new {
display: block;
width: 100%;
padding: 0;
margin: 10px 0 0;
font-size: 15px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
font-weight: normal;
}

.form-control{
    height: 25px;
    /*font-size: 11px;*/
    /*padding: 0;*/
    /*height: 34px;*/
    /*line-height: 1.42857;*/
    /*padding: 6px 12px;*/
    width: 100%;    
}

fieldset dl,.formBorder dl,#loginForm dl{display: block;width: 100%;clear: both;}

fieldset dl>dt,.formBorder dl>dt{width: 45%;display: inline-block;}


fieldset dl>dd,.formBorder dl>dd{width: 50%;
display: inline-block;
margin: 0;}

.fcol{padding: 0;margin: 0;position: relative;}
.fcol li{display: inline-block;}
.fcol .fElement{width: 55%;padding: 0 15px;}
.fElement.full-width {width: 100%;}
.fcol .fElement .radio_list{padding: 0;}
.fcol .fElement .radio_list li{margin-right: 15px;}
#loginForm dl>dd>:not(.fcol){margin-left: 10px;}



.date-control {min-width: 27%;width: auto;display: inline;}


[id*='_terms_id_row'] .fElement{float: left;width: auto;padding-right: 5px;}
[id*='_terms_id_row']  .help{width: 90%;float: left;position: relative;border: 0;padding: 0;}
[id*='_captcha_row'] .fElement img{margin-bottom: 5px;}




.XY20, .highlight, .highlight_new{padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;/*page-break-inside: avoid;*/}
.XY20>h3, .highlight>h3, .highlight_new>h3{margin-top: 0;/*page-break-inside: avoid;*/}
.X20{margin: 0 20px;border: 1px solid transparent;border-radius: 4px;/*page-break-inside: avoid;*/}
.Y20{margin: 20px 0;border: 1px solid transparent;border-radius: 4px;/*page-break-inside: avoid;*/}
.yellow{background-color: #fff;border-color: #000;color: #000;}
.black {background-color: #d9edf7;border-color: #bce8f1;color: #31708f;}
.red, .inst_red {background-color: #f2dede;border-color: #ebccd1;color: red;}
label sup{color: red;}

#bx_toparea {position: relative;}
#bx_toparea>.logo{position: absolute;
width: 60px;
left: 20px;}
.msgBox{margin: 0;}
@media print { #watermark{    position:absolute; display:block !important;top: 50%; margin:auto; -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);}
.expired_app{display:none;}
#bg-text{color:red !important;font-size:80px;opacity: 0.1;text-align: center; }} 