
/* heading hights */
h1 {font-size:20px;line-height:22px}
h2 {font-size:18px;line-height:20px}
h3 {font-size:16px;line-height:18px}
h4 {font-size:14px;line-height:16px}
h5 {font-size:14px;line-height:14px}
/* line break */
.pixbr{clear:both !important;float:none !important;}

/* Spacing /margin/padding standards */
.X10 {margin-left:10px;margin-right:10px;}
.Y10 {margin-top:10px;margin-bottom:10px;}
.XY10 {margin:10px;}
.X20 {margin-left:20px;margin-right:20px;}
.Y20 {margin-top:20px;margin-bottom:20px;}
.YNEW20 {margin-top:7px;margin-bottom:7px;}
.XY20 {margin:20px;}
.X50 {margin-left:50px;margin-right:50px;}
.Y50 {margin-top:50px;margin-bottom:50px;}
.XY50 {margin:50px;}
.X40Y20 {margin:20px;margin-left:40px;margin-right:40px;}

/* table Structure */
.tableDiv{position:relative;}
.col {float:left;}
.col2 {float:left;width:50%;}
.col3 {float:left;width:33%;}
.col4 {float:left;width:25%;}

/* border */
.bdr {border:1px solid ;}
.bdrT {border-top:1px solid ;}
.bdrR {border-right:1px solid ;}
.bdrB {border-bottom:1px solid ;}
.bdrL {border-left:1px solid ;}


/* positioning */
.float{clear:both;float:none;}
.l{float:left;margin-right:10px;}
.r{float:right;margin-left:10px;}


.underline_dotter{border-bottom:1px dotted #000;width:100%;height:10px;}


.highlight {margin:10px;border:1px dotted;padding:10px;}

.highlight_new {margin:7px;border:1px dotted;padding:7px;}

/* block theme colors */
.highlight.red{ background-color:#FBF5F5; border-color:#D1AAAA;color:#BC0000; }
.highlight.red h4 { color: #BC0000; }

.highlight.green{ background-color:#f5fbf5; border-color:#33cc66;color:#098C3E}
.highlight.green h4 { color: #098C3E;}

.highlight.blue{ background-color:#f5f7fb; border-color:#3399cc;color:#0033cc}
.highlight.blue h4 { color:#0033cc;}

.highlight.yellow{ background-color:#fdf8c3; border-color:#cc9933;color:#996600}
.highlight.yellow h4 { color:#996600;}

.highlight.black{ background-color:#f1f1f1; border-color:#ccc;color:#333}
.highlight.black h4 { color:#000;}



/* TEXT colors */
.cBlack {color:#000;}
.cRed {color:red}
.cMaroon {color:maroon;}
.cNavy{color:navy}
.cPurple{color:purple;}
.cMint{color:#bae5ac;}
.cYellow{color:#f6ea73;}
/* BACKGROUND colors */
.bBlack {background-color:#000;}
.bRed {background-color:red}
.bMaroon {background-color:maroon;}
.bNavy{background-color:navy}
.bPurple{background-color:purple;}
.bMint{background-color:#bae5ac;}
.bYellow{background-color:#f6ea73;}

/* noscript Alert*/
#noscript {display:block; position:fixed; _position:absolute; bottom:0px;left:0px;width:100%;border:1px solid #999;background: url(../images/alpha_ffff99_70.png) repeat;_background:#ffff99;_filter:alpha(opacity=70);}
#noscript div{width:50%;margin:20px auto;text-align:center;}
#noscript h1, #noscript h3 {display:inline;}
#noscript h1{color:#cc0000;}
.refundemsg {text-align:center; border-color:#D1AAAA; color:#EE1C25; font-weight:bold; font-size:12px; padding:2px 0 2px 0;}
.msgBox {width:647px;height:auto;padding:0px;margin:0px;}
.msgBox ul {list-style-type:none;margin:0px;padding:0px!important;background:url(../images/middlecorner.png) repeat left top;}
.msgBox ul li {font:normal 11px Arial, Helvetica, sans-serif;text-transform:uppercase;color:#F00;text-align:left;background:url(../images/arrowB.gif) no-repeat left 8px;!background:url(../images/arrowB.gif) no-repeat left 12px;margin-top:0px;margin-left:20px;padding-left:20px;padding-top:5px;width:590px;}
.small {text-transform:lowercase;}
.topCorner {background:transparent url(../images/topCorner.png) no-repeat left top;padding:0px;margin:0px;width:647px;height:18px;}
.btmCorner {background:transparent url(../images/bottomcorner.png) no-repeat left bottom;padding:0px;margin:0px;width:647px;height:18px;}
.button {
/* background:url("../images/btnBg.png") repeat-x scroll left top transparent;
border:1px solid #025711;
color:#fff;
cursor:pointer;
font-size:11px;
font-weight:bold;
margin:5px 5px 5px 0px;
padding:2px 4px;text-align:center;
 -moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;*/
}
.pGrid {width:98%;margin:0px 1%;border-top:1px solid #ccc;border-right:1px solid #ccc;}
.pGrid thead {}
.pGrid tbody {background:#f8f8f8;}
.pGrid thead tr, .pGrid thead tr th{background-image: url(../images/header_menu_bg.gif); background-repeat: repeat-x; height:25px;color:#fff;}
.pGrid tfoot{background:#ccc;border-top:1px solid #333}
.pGrid tr.even, .pGrid tr.even td{background:#f8f8f8;}
.pGrid tr.odd, .pGrid tr.odd td{background:#f5f5f5;}
.pGrid tr .last {font-weight:bold;padding-right:10px;}
.pGrid tr .first {}
.pGrid th, .pGrid td {border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
.pGrid td {padding: 3px;}
.btnaddNew {background:transparent url(../images/addBtn.png) no-repeat left top;height:30px;width:170px;border:0px none;text-indent:-2000px;cursor:pointer;*text-indent:0px;*height:70px;*color:#ffffff;_text-indent:0px;_height:70px;_color:#ffffff;}
.btnaddNewApp {background:transparent url(../images/addappBtn.png) no-repeat left top;height:30px;width:147px;border:0px none;text-indent:-2000px;cursor:pointer;*text-indent:0px;*height:70px;*color:#ffffff;_text-indent:0px;_height:70px;_color:#ffffff;}
.delIcon {background: url(../images/delete.png) no-repeat 0 0;text-indent:-2000px;cursor:pointer;height:16px;width:16px;margin:0px 2px;padding:0px 0px!important;display:inline-block;*text-indent:0px;*border:none; _text-indent:0px;*border:none;}
.editIcon {background: url(../images/edit.jpg) no-repeat 0 0;text-indent:-2000px;cursor:pointer;height:16px;width:16px;margin:0px 2px;padding:0px 0px!important;display:inline-block;*text-indent:0px;*border:none; _text-indent:0px;*border:none;}

.insBox {
height:auto;
margin:0;
padding:0;
width:673px;
padding-left:9px;
}
.btmCorner_new {
background:url("../images/bottomcorner_new.png") no-repeat scroll left bottom transparent;
height:20px;
margin:0;
padding:0;
width:678px;
}
.insBox ul li {
background:url("../images/list_icon.gif") no-repeat scroll left 15px transparent;
color:#000000;
font:11px Arial,Helvetica,sans-serif;
margin-left:20px;
margin-top:0;
padding-left:20px;
padding-top:13px;
text-align:left;
width:590px;
}
.insBox ul {
background:url("../images/middlegreen.png") repeat scroll left top transparent;
list-style-type:none;
margin:0;
padding:0 !important;
height:215px;
border:solid 1px #b4d2b4;
border-bottom:none;
background-color:#d5f2d5;
}

.orderBox {
height:auto;
margin:0;
padding:0;
width:673px;
padding-left:9px;
}
.btmCorner_order {
background:url("../images/bottomcorner_new.png") no-repeat scroll left bottom transparent;
height:9px;
margin:0;
padding:0;
width:678px;
}
.orderBox ul li {
background:url("../images/review_order.gif") no-repeat scroll left 12px transparent;
color:#000000;
font:18px Arial,Helvetica,sans-serif;
margin-left:20px;
margin-top:0;
padding-left:40px;
padding-top:16px;
text-align:left;
width:590px;
height:32px;
}
.orderBox ul {
background:url("../images/middlegreen.png") repeat scroll left top transparent;
list-style-type:none;
margin:0;
padding:0 !important;
height:55px;
border:solid 1px #b4d2b4;
border-bottom:none;
background-color:#d5f2d5;
}