/* /css/forms.css */
/* v1.0 | 20090220 */


/*-------------------------
 Form in a Dynamic List DL,DT,DD formate 
 -----------------------*/

/* form styling -*/
.dlForm {font-size:inherit;}
.dlForm {display:block;position:relative;z-index:0}
.dlForm dl { display:block;clear:both; float:none; min-height:20px;_height:20px; padding:10px 0px 0px ; margin:0px;width:auto;position:relative;z-index:0}
.dlForm dt { display:block;clear:left; float:left; margin:0 10px 5px 0; width:25%;}
.dlForm dd { display:block;float:left; margin:0 5px 0px 0px;_margin:0px 5px 0px ;width:70%;line-height:18px;}
.dlForm cite {padding-top:2px;font-size:90%;font-style:normal;}
/* form element styling */
.dlForm fieldset { border:1px solid #6ACA83; display:block; position:relative; margin:15px auto; padding:0px 0px 15px 0px;}
.dlForm legend , .dlForm .legend {padding: 2px 10px;  margin:0px 10px;}
.dlForm legend , .dlForm .legend_new {padding: 2px 10px;  margin:0px 10px; position:absolute; top:-11px;}
.bdr_new{ border:solid 1px #ccc; margin:10px 0 0px 0; position:relative; padding-bottom:5px;}

.dlForm dt label ,.dlForm dt .label{ display:block; padding-right:5px;padding-left:5px; text-align:right;font-weight:normal;line-height:18px; }
.dlForm label sup {color:#cc0000;}
.dlForm textarea { border:1px groove #ccc;background:#fcfcfc;/*margin-bottom:10px;_margin-bottom:0px;*/;font-size:inherit;font-family:Arialfont-family:Arial, Helvetica, sans-serif;}

.dlForm .inputText, .dlForm input[type=text]{border:1px groove #ccc; background:#fcfcfc;font-size:inherit;}
.dlForm input[type=password], .dlForm .inputPassword{border:1px groove #ccc;background:#fcfcfc;font-size:inherit;}
.dlForm input[type=radio], .dlForm .inputRadio{border:0px;vertical-align:middle;margin-bottom:2px;font-size:inherit;}
.dlForm input[type=checkbox], .dlForm .inputCheckbox{border: 0px solid #333;font-size:inherit;}
.dlForm input[type=file], .dlForm .inputFile{border:1px groove #ccc;background:#fcfcfc;font-size:inherit;}
.dlForm select {border:1px groove #ccc;background:#fcfcfc;max-width:305px;z-index:0;font-size:inherit;}

/* resetting browser defaults */
.dlForm .inputPassword, .dlForm input[type=password] {*font-family:sans-serif;font-size:inherit;}

/*-- deselecting form elements --*/
.dlForm input[readonly], .dlForm input[disabled] {background:#ccc;border-color:#ccc;}



/* standard styling for page elements */
.extra-small { width:50px;}
select.extra-small {width:55px;}
.small {width:120px;}
select.small {width:125px;}
.medium {width:300px;}
select.medium {width:305px;}
.large {width:420px;}
select.large {width:425px;}

.dlForm .hide , .dlForm dl.hide , .dlForm dl.hide dt ,  .dlForm dl.hide dd, .dlForm .hide ul.fcol {display:none;visibility:hidden;}

.dlForm .error {color:#FFCC33}
/*
.dlForm .error_list {color:#FFCC33;position:absolute;display:inline;background: url('../images/error_img.png') no-repeat top left; position relative; width:16px;height:16px;margin-left:5px;border:1px solid red}
.dlForm .error_list a{display:none;position:relative;width:200px; border:1px solid #ccc;background:#fefefe;padding:2px;top:-12px;left:18px;}
.dlForm .error_list:hover a {display:block;} 
*/


/* Frame work Extension (Symfony) */
.radio_list label {display:inline;}
.radio_list { list-style:none;margin:0px;padding:0px;}
.radio_list { list-style:none;margin:0px;padding:0px;display:inline;}

.dlForm ul.fcol { list-style:none;margin:0px;padding:0px;}
.dlForm ul.fcol li{ list-style:none;margin:0px 0px 0px 5px;padding:0px;display:inline;}
.dlForm ul.fcol li.fElement{ }
.dlForm ul.fcol li.error{display:block;/*float:left;clear:left;*/}
.dlForm ul.fcol li.help{}
.dlForm .error_list {padding: 5px; margin: 0px 20px;}

.dlForm ul.fcol .fElement ul {margin:0px;padding:0px;}
.dlForm ul.fcol .fElement li {display:block;}

.dlForm .fcol .radio_list{display:block;padding:0px;margin:0px;min-height:1px;}
.dlForm .fcol .radio_list li{display:block;height:20px;}
.dlForm .fcol .radio_list li input{margin:0px;padding:0px;display:block;float:left;}

.dlForm .fcol .checkbox_list{display:block;padding:0px;margin:0px;min-height:1px;}
.dlForm .fcol .checkbox_list li{display:block;height:20px;}
.dlForm .fcol .checkbox_list li input{margin:0px;padding:0px;display:block;float:left;}
#currency{visibility:visible!important;}