@charset "utf-8";
/* Default CSS NIS
 	Powered by :SWGlobal Limited
	Date: 29th August 2008
	Developer: Calie Boateng*/
.highlight{background:#ccc;}
.highlight h2{color:#000;padding:3px;margin:0px 0px 10px;}
HTML { height: 100%;}
BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	background-color: #C6CED0;
	font-family: arial,"Lucida Sans Unicode", Tahoma, Verdana;
	
}
img {
	border: 0px solid #CCCCCC;
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

DIV {
	margin: 0px;
}
#ico {
	background-image: url(../images/ico_arrow.png);
	background-repeat: no-repeat;
}

#bx_main {
	/*width: 840px;*/
	margin-top: 60px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-bottom: 10px;
}


#bx_toparea {
	height: 90px;
/*	width: 777px;padding-left: 23px;*/
  
	
}

#bx_midarea {
	height: 380px;
	/*width: 800px;*/
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #236442;
	padding-bottom: 10px;
	border: 4px solid #FFFFFF;
	background-image: url(../images/green_bg.png);
	background-repeat: repeat-x;
}
#bx_footarea {
	height: 30px;
	/*width: 800px;*/
	margin-right: auto;
	margin-left: auto;
	font-size: 11px;
	color: #333333;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}
.bx_nislogo {
/*	background-image: url(../images/nis.png);*/
	height: 73px;
	width: 52px;
	float: left;
}
.bx_nis_title {	text-decoration: none;	float: left;	padding: 0px;margin:20px 10px;width:500px;}
.bx_nis_title h1 {font-size: 30px;	color: #0C4C2B;	}

.bx_container {
	padding: 10px;
	float: left;
	width: 220px;
	margin-left: 20px;
	margin-top: 20px;
}
.bx_whitebox {
	background-color: #FFFFFF;
	height: 160px;
	background-image: url(../images/grey_fade.png);
	background-repeat: repeat-x;
}
.bx_whiteboxtop {
	height: 7px;
	width: 220px;
	background: url('../images/whitebox_top.png') no-repeat top left;
  _overflow:hidden;
}
.bx_whiteboxbottom {
	height: 7px;
	width: 220px;
	background: url('../images/whitebox_bottom.png') no-repeat top;
  _overflow:hidden;
  
}

.bx_whiteboxhead {
	background-color: #E1E1E1;
	height: 22px;
	color: #0D552F;
	font-size: 13px;
	padding-left: 8px;
	padding-top: 0px;
}
.bx_whiteboxtext-pass {
	padding: 6px;
	font-size: 11px;
	color: #333333;
	text-decoration: none;	
	height: 120px;
	background:transparent url(../images/bg_passport.gif) no-repeat scroll 160px 80px !important;
}
.bx_whiteboxtext-visa {
	padding: 6px;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	height: 120px;
	background:transparent url(../images/bg_visa.gif) no-repeat scroll 150px 60px !important;
}
.bx_whiteboxtext {
	padding: 6px;
	font-size: 11px;
	color: #333333;
	text-decoration: none;	
	height: 120px;
	background:transparent url(../images/bg_hm_nislogo.gif) no-repeat 160px 60px!important;
}
.bx_whiteboxtext  a:link{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext  a:visited{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext  a:active{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext  a:hover{
	color: #FF0000;
	text-decoration: underline;
}

.bx_whiteboxtext-pass  a:link{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-pass  a:visited{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-pass  a:active{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-pass  a:hover{
	color: #FF0000;
	text-decoration: underline;
}
.bx_whiteboxtext-visa  a:link{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-visa  a:visited{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-visa  a:active{
	color: #0D522E;
	text-decoration: none;
}
.bx_whiteboxtext-visa  a:hover{
	color: #FF0000;
	text-decoration: underline;
}
.titleA {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	margin-bottom: 5px;
}
.tpnavA {
	WIDTH: 220px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.tpnavA UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	FONT-FAMILY: "Lucida Sans Unicode", "Trebuchet MS", Tahoma;
	LIST-STYLE-TYPE: circle
}
.tpnavA LI {
	MARGIN: 2px 0px 0px
}
.tpnavA  a {
	DISPLAY: block;
	WIDTH: 200px;
	TEXT-DECORATION: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #B01312;
	border-right-color: #B01312;
	border-bottom-color: #BAC5C7;
	border-left-color: #B01312;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 16px;
	font-family: "Lucida Sans Unicode", "Trebuchet MS", Tahoma;
	font-size: 11px;
}
.tpnavA a:link {
	COLOR: #E8EBE2
}
.tpnavA a:active {
	COLOR: #E8EBE2
}
.tpnavA a:visited {
	COLOR: #E8EBE2
}
.tpnavA a:hover {
	COLOR: #E8EBE2;
	BACKGROUND-COLOR: #31885A;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #f5f5fc;
	border-right-color: #f5f5fc;
	border-bottom-color: #C6CED0;
	border-left-color: #f5f5fc;
}
.bx_topnav {
	font-size: 12px;
	color: #004200;
	text-decoration: none;
	padding-right: 6px;
	padding-left: 6px;
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}
.apply {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #004200;
	border: 1px solid #004200;
	padding: 3px;
	cursor: hand;
}