@charset "utf-8";
h1 {font-size:20px;line-height:22px}
h2 {font-size:18px;line-height:20px}
h3 {font-size:16px;line-height:18px}
h4 {font-size:14px;line-height:16px}
h5 {font-size:14px;line-height:14px}
H1 {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;text-align:left;color:#006400!important;
}


H2 {
	color: #D5FBC4;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	padding: 0px 0px 5px 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
}
H3 {
	color: #005200;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
	text-transform: capitalize;
	padding: 0px;
}
H4 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	text-transform: capitalize;
	color: #73B8DD;
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
}
H5 {
	color: #A96500;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
}

#nav-area {
	background-image: url(../images/nav_bg.jpg);
	clear: both;
	height: 30px;
	width: 100%;
}
#foot-area {
	clear: both;
	height: 30px;
	width: 100%;
}
#foot-wrap {
	clear: both;
	height: 15px;
	width: 860px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #005000;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.footerArea {
background:#FFFFFF url(../images/footerBg.gif) repeat-x scroll left top;
clear:both;
height:auto;
min-height:80px;
padding-top:7px;
position:relative;
}
.resolution {
width:100%;margin:0px auto;
font:normal 11px Arial, Helvetica, sans-serif;color:#888;text-align:center;
}
.footerMiddle
{width:880px;margin:0px auto;position:relative;clear:both;}
.footerMiddlepopup
{width:700px;margin:0px auto;position:relative;}
.logoSw {
background:transparent url(../images/footerlogo.gif) no-repeat scroll right 50%;
height:22px;
position:absolute;
right:0px;
top:30px;
width:66px;color:#000;
}
.wd80 {width:70px;}
.wd120 {width:120px;}
.consortiumTxt {
height:22px;
position:absolute;
right:0px;
top:60px;
font:normal 9px Arial, Helvetica, sans-serif;
color:#000;
}
.bottomnavLnk {
-x-system-font:none;
color:#7D1629;
font-family:arial,verdana,helvetica,sans-serif;
font-size:0.85em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1em;
margin:0;
padding:2em 0 1em;
text-align:center;
}
.copyrightLnk {
-x-system-font:none;
color:#333333;
font-family:arial,verdana,helvetica,sans-serif;
font-size:0.85em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:1em;
margin:0;
padding:0.3em 0 1em;
text-align:left;
}
#nav-wrap {
	clear: both;
	height: 30px;
	width: 880px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #FFFFFF;
}
#left-nav {
	float: left;
	height: 30px;
	width: 650px;
	margin-right: 10px;
}
#right-nav {
	float: right;
	height: 30px;
	width: 200px;
}

#mid-area {
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: auto;
	*margin-top: 35px;
	_margin-top: 8px;
}
#mid-wrap {
	clear: both;
	width: 880px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #005A00;
	height: auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
#intro-area {
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	height: 190px;
	padding-top: 10px;
}
*+html #intro-area {
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	height: 210px;
	padding-top: 10px;
}
.intro-panel {
	margin-bottom: 0px;
	color: #333333;
	margin-top: 0px;
	width: 880px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	height: 190px;
}
.panel {
	margin-bottom: 10px;
	color: #333333;
	margin-top: 0px;
	width: 880px;
	float: left;
}
.panelReg {
	margin-bottom: 10px;
	color: #333333;
	margin-top: 0px;
	width:618px;
	float: left;
}
.panel2 {
	width: 880px;
	margin-bottom: 10px;
	color: #333333;
	float: left;
	background-color: #D3D3AF;
	padding-bottom: 0px;
	background-image: url(../images/panel_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.panel3 {
	width: 880px;
	margin-bottom: 10px;
	color: #333333;
	float: left;
	background-color: #AFD1BD;

	padding-bottom: 0px;
	background-image: url(../images/panel3_bg.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 0px;
}
.panel-head {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	clear: both;
	height: 20px;
	width: 860px;
	padding-top: 5px;
	background-color: #005700;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../images/panel_head_bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
}



.formLabel {
	font-size: 11px;
	color: #333;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 0px;
	float: left;
	width: 49%;
	margin: 0px;
	padding-left: 4px;
}


.formField {
	font-size: 11px;
	color: #333;
	text-decoration: none;
	border: 1px solid #999999;
	width: 95%;
	padding: 5px;
	background-color: #FFF;
	font-weight: bold;
	background-image: url(../images/input_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

.formFwrap {
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 97%;
	float: left;
	line-height: 15px;color:#fff;
}
* html .formFwrap {
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	width: auto;
	color:#ffffff;
}


#header h1
{color:#fff!important}

.formFwrap a{
	color: #FFF;
	text-decoration: none;
}
.formFwrap a:hover{
	color: #FFF;
	text-decoration: underline;
}

.formField:focus {
	background-color: #FF9;
	}

#wrapLogin span, #wrapLogin span a, #wrapLogin {color:#fff;}
.formTitle {
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D7E8DE;
	padding-top: 10px;
	font-weight: normal;
	font-variant: normal;
	width: 97%;
	margin-bottom: 5px;
}
.formButton {
	border-style: none;
	color: #49425B;
	cursor: pointer;
	height: 30px;
	text-align: center;
	width: 80px;
	background-color: transparent;
	background-image: url(../images/btn.png);
	margin: 10px 0 0 0;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
	background-repeat: no-repeat;
	font-family: arial,verdana,helvetica,sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
	float: right;
}
.formButtonSignup {
	border-style: none;
	color: #49425B;
	cursor: pointer;
	height: 30px;
	text-align: center;
	width: 80px;
	background-color: transparent;
	background-image: url(../images/btnSignup.png);
	margin: 10px 0 0 0;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 0px;
	padding-left: 6px;
	background-repeat: no-repeat;
	font-family: arial,verdana,helvetica,sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	font-variant: normal;
	float: right;
}

#wrapIntro {
	float: left;
	width: 560px;
	font-size: 11px;
	color: #333;
	text-decoration: none;
	background-image: url(../images/introBG.gif);
	background-repeat: no-repeat;
	height: 215px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right: 10px;
}
#wrapIntro img{
	float: left;
	text-decoration: none;
	padding-right: 5px;
}
#wrapIntro h2{
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-weight: normal;
}
.msgTxt {
	height: auto;
	width: 390px;
	float: left;
	margin-top: 0px;
	margin-left: 10px;
	font-size: 11px;
	color: #333333;
}
.msgImage {
	height: auto;
	width: 150px;
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	overflow: hidden;
	border: 1px solid #CCCCCC;
}
.bx3 {
	float: left;

	width: 285px;
	/*background-image: url(../images/bx3_bg.gif);height: 120px;
	background-repeat: no-repeat;
	background-position: center center;*/background-color:#d7e8de;
	margin-right: 0px;
	margin-left: 0px;
}
/*reg welcome page starts*/
.bxReg {
	float: left;

	width: 190px;
	/*background-image: url(../images/bx3_bg.gif);height: 120px;
	background-repeat: no-repeat;
	background-position: center center;*/background-color:#d7e8de;
	margin-right: 0px;
	margin-left: 0px;
}

.bxReg-head {
	font-size: 11px;
	color: #E9E9D6;

	clear: both;
	height: 20px;
	width: 180px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background:transparent url(../images/bx3_Reg_bg.gif) repeat scroll 0 0;

}
.bxReg-intro {
	float: left;
	font-size: 10px;
	width: 120px;
	color: #004D00;
	margin-top: 5px;
}

.bxReg img {
	float: left;
	margin: 5px;
	border: 1px solid #999999;
	width: 50px;
}
.bxReg-links {
background:transparent url(../images/bx3_Reg_bg.gif) no-repeat scroll 0 -95px;
bottom:0;
color:#333333;
float:left;
font-size:10px;
height:25px;
margin-top:6px;
padding:0 5px;
text-decoration:none;
width:180px;
}
.bxReg-links a {
	width: auto;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10px;
	text-decoration: none;
	color: #000000;line-height:25px;
}
.bxReg-links a:active, .bxReg-links a:visited {
	color: #333333
	text-decoration: none;
}
.bxReg-links a:hover {
	color: #999
	text-decoration: none;
}
/*reg welcome page ends*/
.bx3-head {
	font-size: 9px;
	color: #E9E9D6;
	clear: both;
	height: 20px;
	width: 275px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	background:transparent url(../images/bx3_bg.gif) repeat scroll 0 0;
	font-weight:bold;

}
.commonLoginTop
{
background:transparent url(../images/regloginBG.gif) no-repeat scroll 0px 0px;	height:8px;width:250px;
}
.commonLoginBottom
{
background:transparent url(../images/regloginBG.gif) no-repeat scroll 0px -182px;height:8px;width:250px;
}
.bx3-intro {
	float: left;
	font-size: 10px;
	width: 220px;
	color: #004D00;
	margin-top: 5px;
}

.bx3 img {
	float: left;
	margin: 5px;
	border: 1px solid #999999;
	width: 50px;
}
.bx3-links {
	background:transparent url(../images/bx3_bg.gif) no-repeat scroll 0 -95px;
bottom:0;
color:#333333;
float:left;
font-size:10px;
height:25px;
margin-top:6px;
padding:0 5px;
text-decoration:none;
width:275px;
}
.bx3-links a {
	width: auto;
	padding-left: 0px;
	padding-right: 0px;
/*	font-size: 10px;*/
	font-size: 11px;
	text-decoration: none;
	color: #000000;line-height:25px;
}
.bx3-links a:active, .bx3-links a:visited {
	color: #333333
	text-decoration: none;
}
.bx3-links a:hover {
	color: #999
	text-decoration: none;
}
.bx-divider {
	width: 12px;
	display: block;
	float: left;
	height: 100px;
}
.bx6 {
	float: left;
	width: 142px;
	margin-right: 1px;
	margin-left: 2px;
	padding-bottom: 5px;
}
.bx6-img {
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 32px;
}
.bx6-title {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}
.bx6-title a:link,.bx6-title a:active, .bx6-title a:visited {
	color: #333333;
	text-decoration: none;
}
.bx6-title a:hover {
	color: #000000;
	text-decoration: none;
}
.rb {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BDBD88;
}
.rb1 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #84B999;
}
.rb2 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #005A00;
	margin-top: 10px;
	margin-bottom: -10px;
	height: 15px;
	float: left;
	display: inline;
}
.push {
	height: 30px;
}
/*--about us styles start added by naveen jain--*/
.wrap {
width:880px;margin:10px auto;position: relative; color:#000;
}
.lineboxTop {
background:transparent url(../images/linebox_top.gif) no-repeat scroll 0 0;font-size:1px;height:10px;}
.lineboxBottom {
background:transparent url(../images/linebox_bottom.gif) no-repeat scroll 0 0;font-size:1px;height:10px;
}


.txtNormal
{
font:normal 12px Arial, Helvetica, sans-serif;color:#555;margin:0px;text-align:justify;
}
#wrapLogin {
	float: right;
	width: 250px;
	background-image: url(../images/loginBG.gif);
	background-repeat: no-repeat;
	height: 215px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
}
/*--reg style starts--*/
#regLoginArea {

	width: 230px;
	background-image: url(../images/regLoginBG.png);
	background-repeat: no-repeat;
	height: 190px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
}
#regLoginAreaSignup {

	width: 230px;
	background-image: url(../images/regLoginSignupBG.png);
	background-repeat: no-repeat;
	height: 190px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 15px;

}
.height170
{height:175px!important}
.regLoginArea
{width:250px;float:right;}
.loginTop
{position:relative;top:-13px;}
#wrapRegLogin {
background-color:#006400;
padding:0px 10px;
width:230px;
margin:0px;
}
#wrapRegLogin h2
{color:#fff;font:bold 14px Arial, Helvetica, sans-serif;}
#wrapRegPrintLogin {
background-image:url(../images/regPrintBG.gif);
background-repeat:no-repeat;
height:160px;
padding:10px 5px 10px 15px;
width:230px;
margin:0px;
}
#wrapRegPrintLogin h2, #regLoginArea h2, #wrapLogin h2, #forgotArea h2
{color:#fff;font:bold 14px Arial, Helvetica, sans-serif;}
#regLoginAreaSignup h2
{color:#006400 !important;font:bold 14px Arial, Helvetica, sans-serif;}
.signup{
 color:#006400 !important;
}
.regArea
{
	clear:both;
color:#333333;
margin:0 auto;
width:880px;
}
.wrapReg{

color:#333333;
float:left;
font-size:11px;
margin:0px;
padding:0px;
text-decoration:none;
width:600px;
}
.lineboxRegTop {
background:transparent url(../images/linebox_reg_top.gif) no-repeat scroll 0 0;font-size:1px;height:10px;}
.lineboxRegBottom {
background:transparent url(../images/linebox_reg_bottom.gif) no-repeat scroll 0 0;font-size:1px;height:10px;
}

.regBody {
background-color:#e9e9d6;padding:0px 10px;line-height:18px;
}
.subLnk a
{
	background-image:url(../images/ico_1.gif);
background-position:2px 50%;
background-repeat:no-repeat;color:#fff;
}
.subLnk a{
border-bottom:1px solid #39b000;
color:#FFFFFF;
display:block;
font-size:12px;
font-weight:bold;
padding:12px 4px 12px 20px;
text-decoration:none;
width:205px;}
.subLnk a:hover {
background-color:#007d00;
border-bottom:1px dotted #39b000;
color:#FFFFFF;
}
table.userBlock
{
border-top:1px solid #E6E6E7;border-right:1px solid #E6E6E7;background-color:#fff;margin:0px 1%;padding:0px;font:normal .88em/1.8em arial ,verdana,helvetica,sans-serif; color:#333;width:98%!important;
}
table.brd
{
border-top:1px solid #E6E6E7!important;border-right:1px solid #E6E6E7!important;
}
table.userBlock thead tr th
{
background:#056001 url(../images/subHeaderBg.gif) repeat-x left top;height:22px;font:bold 1.0em/1.3em arial ,verdana,helvetica,sans-serif; color:#fff;height:22px;border-left:1px solid #E6E6E7;border-bottom:2px solid #E9E9E9;text-indent:0px;padding-left:6px;text-align:left
}

table.userBlock tbody tr td
{
font:normal 1em/2em arial ,verdana,helvetica,sans-serif; color:#333;text-align:left;text-indent:0px;border-left:1px solid #E6E6E7;border-bottom:1px solid #E6E6E7;height:24px;padding:2px 6px;vertical-align:top;
}
table.userBlock tbody tr td.noPadding
{
padding:0px 0px!important;
}

table.userBlock tbody tr td table tbody tr td
{font:normal 1.1em/2em arial ,verdana,helvetica,sans-serif!important; color:#333;padding:2px 6px;vertical-align:top;}

.userTxtHeading
{
font-weight:bold!important; color:#666!important;background-color:#F7f7f7;
}
table.userBlock tbody tr td table tbody tr td.userTxtHeading
{
color:#666!important;background-color:#F7f7f7;font:bold 1.1em/2em arial ,verdana,helvetica,sans-serif!important;
}
.userTxtThHeading
{
text-align:left;text-indent:6px;
}
table
{
border-collapse:collapse;border-spacing:0px;
}
.necoWaterMark {
background:transparent url(../images/necoWaterMark.gif) no-repeat scroll center center;
}
.textBold
{font:bold 1.2em Arial, Helvetica, sans-serif!important;color:#000!important;}
.regBlink
{
width:116px;height:20px;float:left;margin-top:15px;
}
.regBlink a
{
background:transparent url(../images/regBlink.gif) no-repeat left top; width:137px;height:41px;cursor:pointer;display:block;
}
.mrgTop10{margin-top:10px;}
.mgrleft34
{margin-left:34px;}
.mgrleft10
{margin-left:10px;}
.mgrleft20
{margin-left:20px;}
.txtCenter
{text-align:center!important;margin:0px auto!important;}
.mgrbottom0
{margin-bottom:0px;}
.textBold2
{font:bold 1.5em Arial, Helvetica, sans-serif!important;color:#000!important;text-decoration:underline;padding-bottom:2px;text-align:center!important;}
.padding10 {
padding-right:10px;
}
.flLeft
{float:left;margin-top:15px;width:120px;text-align:left;}
.txtRight
{text-align:right;float:right;margin-top:2px;}
.mrgCenter
{margin:0px auto;}
#forgotArea {
background-image:url(../images/forgotBg.png);
background-repeat:no-repeat;
height:220px;
padding:10px 5px 10px 15px;
width:230px;
}
.flLeftReg
{float:left;width:270px;}
.flRightReg
{float:right;width:290px;}
.blinkReg
{width:68px!important;height:12px!important;background:transparent url(../images/homeregBlink.gif) no-repeat left center!important;display:inline-block;position:relative;
top:2px;!top:0px;}
.blinkResult
{width:90px!important;height:12px!important;background:transparent url(../images/resultChecking.gif) no-repeat left center!important;display:inline-block;position:relative;
top:2px;!top:0px;}

.blinkSlip
{width:56px!important;height:17px!important;background:transparent url(../images/printSlip.gif) no-repeat left center!important;display:inline-block;position:relative;
top:5px;!top:0px;}

* html .regpadding
{position:relative!important;top:5px!important;}
.fontBold
{font:bold 12px Arial, Helvetica, sans-serif!important;color:#000!important;}
.heading2
{font:bold 12px Arial, Helvetica, sans-serif!important;color:#333;}
.internalMsgArea {
background-color:#F1F9FF;
border:1px solid #4397CE;
height:auto;
line-height:1.4em;
margin:13px 1% 0px 1%;
padding:5px;
}
h2.internalHdBold {
-x-system-font:none !important;
font-family:arial,verdana,helvetica,sans-serif !important;
font-size:1em !important;
font-size-adjust:none !important;
font-stretch:normal !important;
font-style:normal !important;
font-variant:normal !important;
font-weight:bold !important;
line-height:1.6em !important;
}
h2.internalMsgSubHeading {
-x-system-font:none;
background:transparent url(../images/arrow.gif) no-repeat scroll 0 2px;
color:#4397CE;
font-family:arial,verdana,helvetica,sans-serif;
font-size:0.8em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:1.4em;
margin:10px auto;
padding-left:15px;
text-align:left;
width:auto;
}
.internalMsgHeading {
-x-system-font:none;
background:transparent url(../images/alertIcon2.gif) no-repeat scroll 0 top;
color:#4397CE;
font-family:arial,verdana,helvetica,sans-serif;
font-size:0.8em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:1.4em;
margin:0 auto;
padding-left:25px;
text-align:left;
width:auto;
}
.internalMsgSubHeading strong
{font-size:1.1em!important;}
.brdLeft0
{
border-left:0px none!important;
}
table.userBlock tbody tr td table tbody tr td.tSubHead
{
background:#fff url(../images/subsheaderBG.gif) repeat-x left top;height:22px;font:bold 1.1em/1.3em arial ,verdana,helvetica,sans-serif; color:#000;height:22px;border-left:1px solid #E6E6E7;border-bottom:2px solid #E9E9E9;text-indent:0px;padding-left:6px;text-align:left
}
.cemptHd {
clear:both;color:#333333;margin:0 auto;width:880px;text-align:left;color:#F00;font:bold 16px arial ,verdana,helvetica,sans-serif;padding:5px 0px 0px 0px;}
.cemptHd a {color:#F00;font:bold 16px arial ,verdana,helvetica,sans-serif;}
.padding0
{padding:0px 0px!important}
.font11em
{font-size:1.1em!important}
.brdbtm0
{border-bottom:0px none!important}
.btmGray
{background-color:#F7f7f7!important;}
/*--popup window style--*/

.regtext{
  font:bold 13px Arial, Helvetica, sans-serif;color:#000;
}
.regtextTitle{
  font:bold 15px Arial, Helvetica, sans-serif;color:#000;
}
.regtextn{
  font:13px Arial, Helvetica, sans-serif;color:#000;
}
.tblregtext{
  font:12px Arial, Helvetica, sans-serif;color:#000;
}
.regtable{
  border:1px solid #000;
}
.regtable TD{
  padding-left:2px;text-align:left;
}
.txtBold20
{text-align:center;font:bold 20px Arial, Helvetica, sans-serif;padding-top:6px;margin:0px auto;width:100%;}
.mgr40 {margin-top:50px!important;}


#loader {background:#ccc;
    width:100px;
    position:fixed;_position:absolute;
    left:45%;top:40%;
    font:bold 12px Arial, Helvetica, sans-serif;color:#900;
    z-index:999;
    display:none;
  }
#loaderContainer {padding:20px;}

/* This works in IE6*/
/* Begin our secondary navigation styles */
#nav1, #nav1 ul {
	float: left;
	list-style: none;
	line-height: 15px;
	color: #ffffff;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 100%;
}
/* -------------------------- */
/* Here are the top secondary navigation links */
#nav1 a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
}
#nav1 a.current {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
/*background-color: #007D00;*/
}
#nav1 a.one, #nav1 a.two, #nav1 a.three {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
}
#nav1 li {
	float: left;
	padding: 0;
	font-size: 12px;
	font-family: "Lucida Sans Unicode";
}
/* -------------------------- */
/* The dropdown links lists */
#nav1 li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 174px;
	font-weight: normal;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #ccc;
	margin: 0;
	font-size: 11px;
	z-index: 100000000;
}
#nav1 li li {
	padding: 0;
	width: 150px;
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
}
#nav1 li ul a {
	padding: 12px;
	width: 150px;
	border-bottom: 1px solid #ccc;


	* html width: 100px;
}
#nav1 li:hover ul ul, #nav1 li:hover ul ul ul, #nav1 li.sfhover1 ul ul, #nav1 li.sfhover1 ul ul ul {
	left: -999em;
}
#nav1 li:hover ul, #nav1 li li:hover ul, #nav1 li li li:hover ul, #nav1 li.sfhover1 ul, #nav1 li li.sfhover1 ul, #nav1 li li li.sfhover1 ul {
	left: auto;
}
/* -------------------------- */
/* The background and color of the main nav link while looking at the dropdown
   (a little different than the method used on the main nav...) */
#nav1 li:hover a.one, #nav1 li.sfhover1 a.one,
#nav1 li:hover a.two, #nav1 li.sfhover1 a.two,
#nav1 li:hover a.three, #nav1 li.sfhover1 a.three {
	color: #fff;
	background-color: #015000;
}
/* -------------------------- */
#nav1 li:hover a.current, #nav1 li.sfhover1 a.current {
	color: #fff;
	background-color: #015000;
}
/* The dropdown links list colors */
#nav1 li ul.under a {
	background: #fff;
	color: #015000;

}
#nav1 li ul.under a:hover {
	color: #fff;
	background-color: #015000;
}
#nav2, #nav2 ul {
	float: right;
	list-style: none;
	line-height: 15px;
	color: #ffffff;
	background: transparent;
	padding: 0;
	margin: 0;
	width: auto;
}
/* -------------------------- */
/* Here are the top secondary navigation links */
#nav2 a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
}
#nav2 a.current {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
    background-color: #007D00;
}
#nav2 a.one, #nav2 a.two, #nav2 a.three {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
}
#nav2 li {
	float: left;
	padding: 0;
	font-size: 12px;
	font-family: "Lucida Sans Unicode";
}
/* -------------------------- */
/* The dropdown links lists */
#nav2 li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 74px;
	font-weight: normal;
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #ccc;
	margin: 0;
	font-size: 11px;
	z-index: 100000000;
}
#nav2 li li {
	padding: 0;
	width: 50px;
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
}
#nav2 li ul a {
	width: 50px;
	border-bottom: 1px solid #ccc;





	* html width: 100px;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
}
#nav2 li:hover ul ul, #nav2 li:hover ul ul ul, #nav2 li.sfhover1 ul ul, #nav2 li.sfhover1 ul ul ul {
	left: -999em;
}
#nav2 li:hover ul, #nav2 li li:hover ul, #nav2 li li li:hover ul, #nav2 li.sfhover1 ul, #nav2 li li.sfhover1 ul, #nav2 li li li.sfhover1 ul {
	left: auto;
}
/* -------------------------- */
/* The background and color of the main nav link while looking at the dropdown
   (a little different than the method used on the main nav...) */
#nav2 li:hover a.one, #nav2 li.sfhover1 a.one,
#nav2 li:hover a.two, #nav2 li.sfhover1 a.two,
#nav2 li:hover a.three, #nav2 li.sfhover1 a.three {
	color: #fff;
	background-color: #015000;
}
/* -------------------------- */
/* The dropdown links list colors */
#nav2 li ul.under a {
	background: #fff;
	color: #015000;

}
#nav2 li ul.under a:hover {
	color: #fff;
	background-color: #015000;
}
#content {
color:#000000;
min-height:350px;
padding:0 1%;
width:98%;
z-index:1;
}

#wrapRegLogin h2{
  margin:0;
}
/* error list formating */
.error_list{text-align:center;height:25px; }
.error_list span{border:0px dotted #ff0000;padding:3px 10px;line-height:22px; font-size:11px; }
/*#flash_error span, #flash_notice span{-moz-border-radius : 3px; -webkit-border-radius : 3px; }*/

/* error / notice flash messages */
#flash_notice span{border-width:0px; color:#fff;background: #008837; }
#flash_error span{border-color:#f00;color:#fff;background: #f63;}

h1.h1heading {
background:transparent none repeat scroll 0 0 !important;
border:0 none !important;
color:#006400 !important;
font-family:Arial,Helvetica,sans-serif !important;
font-size:18px !important;
font-weight:normal !important;
margin-bottom:0 !important;
margin-left:0;
margin-right:0 !important;
margin-top:0 !important;
padding:0 !important;
text-align:left !important;
}
.regBody #pageHead {
background:transparent none repeat scroll 0 0 !important;
border:0 none !important;
margin-bottom:0 !important;
padding-top:0px;
}
table{
 /* width:100%;*/
}
.dlForm {font-size:inherit;}
.dlForm {display:block;position:relative;z-index:0}
.dlForm dl { display:block;clear:both; float:none; min-height:20px;_height:20px; padding:10px 0px 0px ; margin:0px;width:auto;position:relative;z-index:0}
.dlForm dt { display:block;clear:left; float:left; margin:0 10px 5px 0; width:25%;}
.dlForm dd { display:block;float:left; margin:0 5px 0px 0px;_margin:0px 5px 0px ;width:70%;line-height:18px;}
.dlForm cite {padding-top:2px;font-size:90%;font-style:normal;}

.dlForm input[type=password], .dlForm .inputPassword{border:1px solid;background:#fcfcfc;font-size:inherit;}
.dlForm input[type=radio], .dlForm .inputRadio{border:0px;vertical-align:middle;margin-bottom:2px;font-size:inherit;}
.dlForm input[type=checkbox], .dlForm .inputCheckbox{border: 0px solid #333;font-size:inherit;}
.dlForm input[type=file], .dlForm .inputFile{border:1px solid;background:#fcfcfc;font-size:inherit;}
.dlForm select {border:1px solid;background:#fcfcfc;max-width:635px;z-index:0;font-size:inherit;}
/*-- deselecting form elements --*/
.dlForm input[readonly], .dlForm input[disabled] {background:#ccc; border:1px solid black;}




.createuserInput input {
border:1px solid #DCDDDD;
height:14px;
width:90%;
}

input, textarea, select {
-x-system-font:none;
color:#333333;
font-family:arial,verdana,helvetica,sans-serif;
font-size:1em;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}




#loginForm{border:1px solid #ccc; width:600px;margin:40px auto;}
#loginHead{background: url(../img_admin/login_header.png) no-repeat;border-bottom:1px solid #ccc; border-top:1px solid #fff;height:75px; }
#loginHead h1 {font-size:24px!important;color:#008837;margin-top:20px;margin-left:80px;background:none!important;padding:0px!important}

#site_login span {color:#009900;padding:0px 5px; font-weight:bold;}
#site_login a {color:#CC9900;}



/* table data grid */
.tGrid {width:100%;border-collapse:collapse;border:1px solid #ccc;}
.tGrid thead tr{background:#E2E2E2; color:#333;}
.tGrid thead tr.first{}
.tGrid thead tr.last{}
.tGrid thead {background:#ff9900;}
.tGrid thead tr, .tGrid thead tr th{background-color: #e2e2e2; background-image: url(../img_admin/alpha_grd_fff.png); background-repeat: repeat-x; height:25px;}
.tGrid tbody {background:#f8f8f8;}
.tGrid tbody tr{border-top:1px dotted #ccc;}
.tGrid tbody tr.first{}
.tGrid tbody tr.last{}
.tGrid tbody td {}
.tGrid tbody td.first {}
.tGrid tbody td.last {}
.tGrid tbody tr:hover {background:#fafafa;color:#333;}
.tGrid tbody tr:hover a{color:#333;}
.tGrid tfoot{background:#ccc;border-top:1px solid #333}
.tGrid tr.even, .tGrid tr.even td{background:#f8f8f8;}
.tGrid tr.odd, .tGrid tr.odd td{background:#f5f5f5;}
.tGrid tr .last {}
.tGrid tr .first {}
.tGrid th.first {}
.tGrid th.last {}
.tGrid td,.tGrid th {border-right:1px solid #ccc;border:1px solid;padding: 3px 5px;text-align:left;border-color:#ccc;}


.pGrid {width:50%;border-collapse:collapse;border:1px solid #ccc;}
.pGrid td, .pGrid th {border:1px solid;padding: 2px 2px;text-align:left;}
.pGrid thead tr{background:#E2E2E2; color:#333;}
.pGrid thead tr.first{}
.pGrid thead tr.last{}
/*.pGrid th {border-right:1px solid #ccc;}*/
.pGrid th.first {}
.pGrid th.last {}
.pGrid tbody tr{border-top:1px dotted #ccc;}
.pGrid tbody tr.first{}
.pGrid tbody tr.last{}
.pGrid tbody td {}
.pGrid tbody td.first {}
.pGrid tbody td.last {}
.pGrid tbody tr:hover {background:#fafafa;color:#333;}
.pGrid tbody tr:hover a{color:#333;}
.pagingHead {color:#0066CC;}
.pGrid input, .pGrid select, .pGrid textarea {width:57%;}

.tGrid input, .tGrid select, .tGrid textarea {width:97%;}
