body {/*background:#ff9900;*/}
/*#content_body .curvBlock .curv_body {min-height:270px;height:270px;}*/
#homePage #header {border-top:0px solid transparent;}
/*#site_links{border:0px solid red;width:220px;bottom:-2px;}
#site_links li {padding:0px;overflow:hidden;}
*/
.inWrap {border-right:0px solid #999;}
#pageWrapBottom div {border-right:0px solid red;}

/* admin section */
#site_logo  {margin:0px;padding:0px;}
#site_logo .bx_nislogo  {height:73px;margin:0px 20px 0px 0px;overflow:hidden;}
#site_logo .bx_nis_title{overflow:hidden;margin:0px;padding:0px;width:500px;margin-top:20px;height:50px;}
#site_logo .bx_nis_title h1 {line-height:35px;}

#adminHome #footer {background-image: url(../img_admin/footer_grd_bg.gif);overflow:hidden;height:40px;}
#adminHome #bx_toparea {background-image: url(../img_admin/alpha_grd_fff.gif);background-color: #eeeeee;}
#adminHome #headLinks{background-image: url('../img_admin/header_menu_bg.gif');}
#adminHome #pageHead {background-image: url('../img_admin/header_grd_bg.png');background-position:bottom ;}
#headLinks iframe {height:1px;width:1px;position:absolute; }
#adminHome #pageHead h1 {background-image: url('../img_admin/h1_ico_default.gif');}
#adminHome #pageHead h1._report {background-image: url('../img_admin/h1_ico_report.gif');}
#adminHome #pageHead h1._form {background-image: url('../img_admin/h1_ico_form.gif');}


.dlForm input, .dlForm .inputText, .dlForm select, .dlForm textarea {border:default;font-family:sans-serif;font-size:inherit;}
.dlForm textarea {border-style:groove;}
.dlForm dd {height:24px;}

.dlForm fieldset{ clear:both;float:none;}
.dlForm ul.fcol ul.radio_list { float:left;}