BODY {background-color: #C6CED0;font-size:12px;}
.pageWrapper {margin: 0px auto; width:976px;}

#header {}
#content {min-height:350px;_height:350px;background:#236442;border:1px solid #fff;color:#fff;}
/* footer */
#footer {padding:5px;}
#provider a{display:block;text-indent:-999em;width:64px;height:40px;background:url(../images/logo_sw_global.gif) no-repeat;}
/* defaults */
a {color:#E2E2E2;}
h1 {color: #ffcc33;font-size:20px;font-weight:normal;margin:5px 20px;}
h2 {color: #ffcc33;font-size:16px;font-weight:normal;margin:5px 20px;}
table {width:100%;}
/* form formater */
.dlForm label, .dlForm .label{ color:#ccc}
.dlForm a {color:#FFFF99}
.dlForm h1{border:0px;}
.dlForm .fcol .fElement {font-size:100%;}
.dlForm fieldset {border-width:0px;}
.multiForm fieldset{ border:1px solid #ccc;position:relative;width:90%;margin-right:auto;margin-left:auto;}
.dlForm legend , .dlForm .legend {display:inline;color:#ccc;background:#236442;}
.dlForm fieldset.multiForm {display:block;}
.multiForm fieldset fieldset{background:#22603f;border:1px dotted #052711;padding-bottom:5px;width:90%;margin-bottom:10px;}
.multiForm fieldset fieldset legend{color:#052711;}
#multiForm fieldset{border-width:0px;}
#multiForm fieldset fieldset{border-width:1px;}

#header .navMenu {background:#d7dcde;height:23px;}
#printLayout #bx_toparea {background: url(../images/top_bkbd.jpg) repeat-x ;}


/* table data grid */
table.tGrid {width:100%;border:1px solid #ccc;}
.tGrid thead tr{background:#E2E2E2; color:#333;}
.tGrid thead tr.first{}
.tGrid thead tr.last{}
.tGrid th {border-right:1px solid #ccc;}
.tGrid th.first {}
.tGrid th.last {border-right:0px;}
.tGrid tbody tr{border-top:1px dotted #ccc;}
.tGrid tbody tr.first{}
.tGrid tbody tr.last{}
.tGrid tbody td {border-right:1px solid #ccc;padding: 3px 5px;}
.tGrid tbody td.first {}
.tGrid tbody td.last {border-right:0px;}
.tGrid tbody tr:hover {background:#fafafa;color:#333;}
.tGrid tbody tr:hover a{color:#333;}

/* error list formating */
.error_list{text-align:center;height:25px;margin:10px 20%; position:relative;}
.error_list span{border:1px dotted #ff0000;padding:3px 10px;line-height:22px;}
#flash_notice span{border-color:#669966; color:#ccc;background: #1b5536; /*url('../images/pix_000_50.png') repeat;*/}
#flash_error span{border-color:#ff9900;color:#ff9900;background: #052711 ;/*url('../images/pix_fff_50.png') repeat;*/}

.dlForm .required {color:#ff0000;}

/* section */
.section{margin-top:10px;}

/* faq */
#faqList{line-height:18px;letter-spacing:.5px;}
#faqList ol li {margin:10px 0px 10px 0px;border-bottom:1px dotted #ccc;}
#faqList ul {margin:0px 20px;}
#faqList ul li {margin:0px;border:0px ;}
.faQ {color:#f1f1f1;font-weight:bold;}
.faA { margin:5px 0px;color:#CCC;}
.helpSupport {font-weight:bold;color:#000;text-align:center;margin:10px;padding:3px 5px;background:#fff;}

/* visa / passport Guidelines*/
#passportGuidelines {line-height:18px;letter-spacing:.5px;color:#f8f8f8;}
#visaGuidelines {line-height:18px;letter-spacing:.5px;color:#f8f8f8;}

