
/* CSS Document */

table.bdr {border-width:1px;}
table.bdr td{border-width:1px;border-style:solid;padding:2px;}

/* layouts contents*/

.pageWrapper {width:975px;min-height:300px;margin:10px auto;position:relative;}
.outWrap {background-image:url(../images/pagewrapper_border.gif); background-repeat:repeat-y;background-position:left;background-color:#f0f0f0; }
.inWrap{min-height:1px;_height:1px;background-image:url(../images/pagewrapper_border.gif); background-repeat:repeat-y;background-position:right; margin-left:1px;padding-right:1px;padding-bottom:0px;}

#pageWrapTop{background-image:url('../images/banner_head.png');background-repeat:no-repeat;height:140px;}
.pageWrapTop div{background-image:url('../images/pagewrap_top.gif');background-repeat:no-repeat;background-position:right;height:12px;}
#pageWrapBottom {background-image:url('../images/footer_bg.png');background-repeat:no-repeat;height:48px;padding-left:12px;border-top:1px solid #dcdcdc;}
#pageWrapBottom div.close{background-image:url('../images/footer_bg.png');background-repeat:no-repeat;background-position:right;height:48px;}

#header{height:140px; border-bottom:1px solid #f8f8f8;border-top:1px solid transparent;position:relative;}
#logo {height:111px;position:relative;}
#logo span{float:left;position:absolute;top:-999em;}
#logo span.img{margin-right:20px;margin-top:0px;}
#logo span.title{margin-top:25px;color:#009900;font-weight:normal;line-height:25px;}
#logo span.title h1{font-size:22px;font-weight:normal;}

#site_links{background: url('../images/header_menu_bg.png') repeat-y; height:34px;font-size:11px;}
#site_links ul{list-style:none;margin:0px;padding:0px;height:34px;float:right;}
#site_links li{list-style:none;margin:0px;padding:0px;display:block;height:34px;float:left;line-height:35px;margin-right:10px;text-transform:uppercase;font-size:14px;}
#site_links a {color:#fff;padding: 0px 10px;text-decoration:none;}
#site_links a:hover {text-decoration:underline;}
#site_links span {background-color:#fff;display:block;height:34px;width:35px;float:left;}
#site_links .site_link_home {background: #fff url(../images/ico_site_home.png) no-repeat center ;}
#site_links .site_link_checkout {background: #fff url(../images/ico_site_checkout.png) no-repeat center ;}
#site_links .site_link_login {background:#fff url(../images/ico_site_login.png) no-repeat center;}

#bottom_links { padding:5px;text-align:center;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-top:10px;background:#ccc url('../images/footer_grd_bg.gif') repeat-x;}
#bottom_links ul{list-style:none;margin:0px;padding:0px;}
#bottom_links li{list-style:none;margin:0px;padding:0px;display:inline;padding: 0px 5px;border-right:1px solid ;}
#bottom_links  a {color:inherit;}

#footer {padding:5px 10px 5px 5px;min-height:30px;display:block;}
#provider {width:154px;}
#provider a{float:right;display:block;text-indent:-999em;width:90px;height:40px;background:url(../images/logo_sw_global.gif) no-repeat right top;margin-top:0px;}
#copywright {margin-top:10px;}
#foot_note {margin-top:10px;text-align:left;display:block;color:#008800;}

#content{position:relative;padding-top:10px;}

#content_body .curvBlock .curv_body {min-height:800px;height:auto !important; _height:560px;border-top:1px solid #fff;}

/* welocome page */
#welcomePage table{margin-left:auto;margin-right:auto;}
#aboutNis p{line-height:17px;}

.roundedBlockar { width:280px;margin: 0px 10px;padding-bottom:5px;border:1px solid #ccc;background-color:#fff;
-moz-border-radius: 5px; -webkit-border-radius : 5px;
-moz-border-radius: 5px; -webkit-border-radius: 5px;

}
.roundedBlockar .sectionHead{font-size:18px;background:#008837 url('../images/section_block_bg.png') no-repeat left bottom;border:1px solid #009900;color:#fff;padding:8px 5px; font-weight:normal;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius : 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.roundedBlockarar .sectionHeadar{font-size:18px;background:#008837 url('../images/section_block_bg.png') no-repeat left bottom;border:1px solid #009900;color:#fff;padding:8px 5px; font-weight:normal;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius : 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

.roundedBlockarar .sectionDescar {background-color:#e9e8e8;padding:10px;line-height:15px;}
.roundedBlockar .sectionDescar a{color:#cc6600;margin:10px 0px 0px;display:block;float:none;clear:both;}
.roundedBlockar .sectionLinksar {background:#fff;padding:15px;}

.roundedBlockar .sectionLinks ul{list-style:none;margin:0px;padding:0px;line-height:20px;}
.roundedBlockar .sectionLinks li{list-style:none;margin:0px;padding:0px;display:block;padding:3px 5px; border-bottom:1px dotted #ccc;}
.roundedBlockar .sectionLinks a{color:#cc6600;display:block;float:none;clear:both;}

.roundedBlockar .sectionDesc {background-color:#e9e8e8;padding:10px;line-height:15px;}
.roundedBlockar .sectionDesc a{color:#cc6600;margin:10px 0px 0px;display:block;float:none;clear:both;}
.roundedBlockar .sectionLinks {background:#fff;padding:15px;}

.roundedBlockar .sectionLinks ul{list-style:none;margin:0px;padding:0px;line-height:20px;}
.roundedBlockar .sectionLinks li{list-style:none;margin:0px;padding:0px;display:block;padding:3px 5px; border-bottom:1px dotted #ccc;}
.roundedBlockar .sectionLinks a{color:#cc6600;display:block;float:none;clear:both;}

.roundedBlock { width:280px;margin: 0px 10px;padding-bottom:5px;border:1px solid #ccc;background-color:#fff;
-moz-border-radius: 5px; -webkit-border-radius : 5px;
-moz-border-radius: 5px; -webkit-border-radius: 5px;

}
.roundedBlock .sectionHead{font-size:18px;background:#008837 url('../images/section_block_bg.png') no-repeat left bottom;border:1px solid #009900;color:#fff;padding:8px 5px; font-weight:normal;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius : 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}
.roundedBlockar .sectionHeadar{font-size:18px;background:#008837 url('../images/section_block_bg.png') no-repeat left bottom;border:1px solid #009900;color:#fff;padding:8px 5px; font-weight:normal;
-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius : 5px;
-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

.roundedBlockar .sectionDescar {background-color:#e9e8e8;padding:10px;line-height:15px;}
.roundedBlockar .sectionDescar a{color:#cc6600;margin:10px 0px 0px;display:block;float:none;clear:both;}
.roundedBlockar .sectionLinksar {background:#fff;padding:15px;}

.roundedBlock .sectionLinks ul{list-style:none;margin:0px;padding:0px;line-height:20px;}
.roundedBlock .sectionLinks li{list-style:none;margin:0px;padding:0px;display:block;padding:3px 5px; border-bottom:1px dotted #ccc;}
.roundedBlock .sectionLinks a{color:#cc6600;display:block;float:none;clear:both;}

.roundedBlock .sectionDesc {background-color:#e9e8e8;padding:10px;line-height:15px;}
.roundedBlock .sectionDesc a{color:#cc6600;margin:10px 0px 0px;display:block;float:none;clear:both;}
.roundedBlock .sectionLinks {background:#fff;padding:15px;}

.roundedBlock .sectionLinks ul{list-style:none;margin:0px;padding:0px;line-height:20px;}
.roundedBlock .sectionLinks li{list-style:none;margin:0px;padding:0px;display:block;padding:3px 5px; border-bottom:1px dotted #ccc;}
.roundedBlock .sectionLinks a{color:#cc6600;display:block;float:none;clear:both;}

.roundedBlockar .sectionLinksar ul{list-style:none;margin:0px;padding:0px;line-height:20px;}
.roundedBlockar .sectionLinkars li{list-style:none;margin:0px;padding:0px;display:block;padding:3px 5px; border-bottom:1px dotted #ccc;}
.roundedBlockar .sectionLinksar a{color:#cc6600;display:block;float:none;clear:both;}

#aboutNis.roundedBlock .sectionLinks {background-image:url('../images/bg_hm_nislogo.gif');background-repeat:no-repeat;background-position: 98% 10%;}
#aboutNis.roundedBlock .sectionLinks p {display:block;margin-right:50px;}
#aboutNis.roundedBlock .sectionLinks a{margin-left:0px;margin:10px 0px 0px;}

#visa.roundedBlock .sectionDesc {background-image:url('../images/bg_visa.gif');background-repeat:no-repeat;background-position: 98% 10%;padding:10px 0px 10px 10px;}
#visa.roundedBlock .sectionDesc p {display:block;margin-right:70px;}

#visaar.roundedBlockar .sectionDescar {background-image:url('../images/visa_stamp.gif');background-repeat:no-repeat;background-position: 98% 10%;padding:10px 0px 10px 10px;}
#visaar.roundedBlockar .sectionDescar p {display:block;margin-right:80px;}

#passport.roundedBlock .sectionDesc {background-image:url('../images/bg_passport.png');background-repeat:no-repeat;background-position: 98% 10%;padding:10px 0px 10px 10px;}
#passport.roundedBlock .sectionDesc p {display:block;margin-right:70px;}

#appForm.roundedBlock .sectionLinks {background-image:url('../images/bg_appform.gif');background-repeat:no-repeat;background-position: 98% 10%;padding:10px 0px 10px 10px;}
#appForm.roundedBlock .sectionLinks ul {display:block;margin-right:70px;}

#ecowas.roundedBlock .sectionDesc {background-image:url('../images/bg_ecowas.gif');background-repeat:no-repeat;background-position: 98% 10%;padding:10px 0px 10px 10px;}
#ecowas.roundedBlock .sectionDesc p {display:block;margin-right:70px;}

//#pay4me.roundedBlock .sectionLinks {background-image:url('../images/pay4me_sm.png');background-repeat:no-repeat;background-position: 98% 10%;}
#pay4me.roundedBlock .sectionLinks p {display:block;margin-right:0px;}
#pay4me.roundedBlock .sectionLinks a{margin-left:0px;margin:10px 0px 0px;}
#pay4me.roundedBlock .sectionLinks> div{margin-top: 5px;width: 32%;display: inline-flex;}
.no-border{border: 0 !important;}
//#pay4me.roundedBlock .sectionLinks> div:nth-child(3){float: right;text-align: right;border: 0;}
//#pay4me.roundedBlock .sectionLinks img{height: 52px;}

/* inside page layout */
#content_body {background:#fff; margin-left:250px;}
#content_body div.curv_top{background:url(../images/curv_top.gif) no-repeat left top;height:10px;font-size:8px;overflow:hidden;}
#content_body div.curv_bottom{background:url(../images/curv_bottom.gif) no-repeat left bottom;height:10px;font-size:8px;overflow:hidden;}
#content_body div.curv_body{border-left:1px solid #e0e0e0;padding:0px 10px;border-bottom:1px solid #FFF;background:#fff;}
#content_body div.curv_body{/*border-right:3px solid #009900;*/padding-left:20px;position:relative;}

/* nav menu */
#navMenu {position:absolute;width:230px;top:20px;margin-left:22px;}
#navMenu div.curvBlock {margin-bottom:10px;}
#navMenu .active div.curv_top{background:url(../images/curv_top.gif) no-repeat left top;height:10px;font-size:8px;overflow:hidden;}
#navMenu .active div.curv_bottom{background:url(../images/curv_bottom.gif) no-repeat left bottom;height:10px;font-size:8px;overflow:hidden;}
#navMenu .active div.curv_body{border-left:1px solid #e0e0e0;padding:0px 10px;border-bottom:1px solid #FFF;background:#fff;}
#navMenu .active div.curv_body{padding-left:15px;}
#navMenu .active div.curv_body .menuItems {display:block;}
#navMenu div.curv_body .menuItems {display:none;}
#navMenu .menuItems {float:right;margin-top:-40px;background:url(../images/section_active_ico.gif) no-repeat right top;}
#content #navMenu .menuItems ul {border-right:1px solid #fff;margin:0px;padding:0px;margin-top:20px;margin-right:10px;padding-right:5px;padding-top:20px;text-align:right;background: url(../images/horizontal_seperator.gif) repeat-y right top;list-style:none;}
#navMenu .menuItems li {display:block;line-height:20px;}
#navMenu .menuHead {cursor:pointer;}
#navMenu .menuHead span{display:block;width:100%;overflow:hidden;text-indent:-999em;}

#menuPassport .menuHead{background: url('../images/text_passport_services.gif') no-repeat right;height:50px;margin-right:30px;}
#menuPassport.active .menuHead{background-image: url('../images/text_passport_services_active.gif')}

#menuVisa .menuHead{background: url('../images/text_visa_services.gif') no-repeat right;height:50px;margin-right:30px;}
#menuVisa.active .menuHead{background-image: url('../images/text_visa_services_active.gif');}

#menuVisaARP .menuHead{background: url('../images/visa_arrival.gif') no-repeat right;height:96px;margin-right:30px;}
#menuVisaARP.active .menuHead{background-image: url('../images/visa_arrival_active.gif');}

#menuFreezone .menuHead{background: url('../images/text_freezone_services.gif') no-repeat right;height:96px;margin-right:30px;}
#menuFreezone.active .menuHead{background-image: url('../images/text_freezone_services_active.gif');}

#menuEcowas .menuHead{background: url('../images/text_ecowas_services.gif') no-repeat right;height:80px;margin-right:30px;}
#menuEcowas.active .menuHead{background-image: url('../images/text_ecowas_services_active.gif');}

#menuEcowasCard .menuHead{background: url('../images/text_ecowas_card.gif') no-repeat right;height:80px;margin-right:30px;}
#menuEcowasCard.active .menuHead{background-image: url('../images/text_ecowas_card_active.gif');}

/* highlight block */
.highlight {margin:10px;padding:5px 5px;position:relative;}
.highlight h4 {margin:10px 0px;}
.highlight p {margin:5px 0px;}

/* Form / MUlti Form */
.dlForm fieldset{display:block;border-width:0px;}
.dlForm fieldset.bdr{border-width:1px;}
.dlForm .multiForm{width:90%;margin-left:auto;margin-right:auto;}
.dlForm .legend h1 {display:inline;}

.dlForm fieldset .multiForm {border-width:1px;}
.dlForm .multiForm fieldset{border-width:1px;}

#multiForm fieldset{border-width:0px;}
#multiForm .multiForm fieldset{border-width:1px;}

.dlForm .multiForm fieldset dt {width:35%;}
.dlForm .multiForm fieldset dd { width:60%;}

.dlForm .multiForm fieldset.dt25 dt {width:25%;}
/* calender Button */
input.calBtn, button.calBtn{height:18px;width:20px;position:absolute;margin-top:2px;margin-left:2px;background:url(../images/ico_cal.gif) no-repeat;border:0px;cursor:pointer;padding:10px;}
/* error list formating */
.error_list{text-align:center;min-height:30px;margin:10px 20%; position:relative;border:1px solid #fff;}
.error_list span{border:1px dotted #ff0000;padding:3px 10px;line-height:18px; display:block; min-height:20px;text-align:left;}
#flash_notice span{background-color:#f5fbf5; border-color:#33cc66;color:#098C3E;padding-left:30px;padding-right:5px;}
#flash_error span{display:block;border-color:#cc0000;color:#cc0000;background: #f0f0f0 url('../images/flash_message_error.png') no-repeat 5px 5px;padding-left:23px;padding-right:5px;}

.dlForm .required {color:#ff0000;}
.dlForm .error{color:#cc0000;}


/* ordered list */
#content .curv_body ol {padding-left:30px;line-height:20px;}
#content .curv_body ul {padding-left:30px;line-height:20px;}
#content .curv_body .dlForm ul{padding:0px;margin:0px;margin-left:29px;}

/*page Specific */
#passportGuidelines h3 , #visaGuidelines h3 {margin: 10px 0px;font-size:120%;}

/* FAQ */
#faqList .faQ{font-weight:bold;color:#CC6600;}

#pageHead {clear:both;float:none;}


/* Height POPUP */
.popHeightContainer {
z-index:9999;
position:absolute;
display:block;
/*width:100%;
height:100%;

top:0px;
left:0px;
background-color: #ccc;
color: #aaa;
opacity: .9;
filter: alpha(opacity=90);
*/
border:2px solid #333;
padding:5px;
top:-50px;
left:240px;
background:#fff;
width:420px;
}
.popHeightContainer .popContent{
z-index:9999;
width:420px;
height:160px;
position:relative;
color: #000;
background-color: #f8f8f8;
}
.popHeightContainer .popContent h3{ padding:5px 10px;}/*
.popHeightContainer iframe {position:absolute; left:-9999px; top:0; width:0; height:0; margin:0; padding:0;}*/

    .highlight_new {
        -moz-border-radius-bottomleft:15px;
        -moz-border-radius-bottomright:15px;
        -moz-border-radius-topleft:15px;
        -moz-border-radius-topright:15px;
        background-color:#F8F8F8;
        border:1px solid #D4CFCF;
        margin:10px;
        padding:5px;
        position:relative;
    }
    .red {
        color:#FF0000;
        font-size:11px;
    }
    .inst_red {
        color:#FF0000;
        font-size:13px;
    }