/* CSS Document */
#headLinks{background: #116616;display: table;width: 100%}
#header .navMenu {min-height:30px;z-index:99;}
#header .navMenu a {padding:5px 10px;}
#header .navMenu li ul a {padding:5px 10px;}


#header .navMenu a:hover {color:#116611;}
.navMenu li:hover a, .navMenu li.sfhover a,.navMenu li:hover a:hover, .navMenu li.sfhover a:hover {color:#116611;/*background: url(../img_admin/header_highlight.png) repeat-x;*/}
.navMenu li:hover  ul li a, .navMenu li.sfhover ul li a, .navMenu li:hover  ul li a:hover,.navMenu li.sfhover  ul li a:hover{background:transparent; }

.navMenu {
font-size: 90%;
text-transform:uppercase;
z-index:9;
}
.navMenu ul {float: left;list-style: none;padding: 0px;margin:0px;z-index:9;width: 100%;}

.navMenu>ul>li{text-align: center;}
.navMenu>ul>li+li{border-left: 1px solid;}
/*
.navMenu>ul>li:nth-child(1){width: 5.5%;}
.navMenu>ul>li:nth-child(2){width: 6%;}
.navMenu>ul>li:nth-child(3){width: 12%;}
.navMenu>ul>li:nth-child(4){width: 17.5%;}
.navMenu>ul>li:nth-child(5){width: 13.5%;}
.navMenu>ul>li:nth-child(6){width: 16.5%;}
.navMenu>ul>li:nth-child(7){width: 7.5%;}
.navMenu>ul>li:nth-child(8){width: 7.5%;}
.navMenu>ul>li:nth-child(9){width: 14%;}
*/

.navMenu li {float: left;padding: 0px;color: #000000;margin: 0px 8px;/* margin:0px;*/ text-align:left;}

.navMenu li li {
 height:auto;
 padding:0px;
text-transform:none;

}

.navMenu a {
 display: block;
 text-decoration: none;
 /*hite-space:nowrap;*/
 color: #333333;
 display:block;
 padding: 0px 8px;
}

.navMenu a:hover {
 color:#ffffff;
}

.navMenu a.daddy {
 padding-right: 15px;
 /* background: url('./images/bullet_arrow.gif') center right no-repeat; */
 color: #ffffff;

}
.navMenu li ul {
 position: absolute;
 left: -999em;
 height: auto; 
 border: 1px solid #cccccc!important;
 margin: 0px 0px 0px 80px;
 padding:0px;
 float:none;
 background-color: #f1f1f1; 
width: 250px;
z-index:99;
text-transform:none;
}
.navMenu li:hover, .navMenu li.sfhover { 
 text-decoration:none;
 background:#A5E545;
}

.navMenu li:hover a, .navMenu li.sfhover a,.navMenu li:hover a:hover, .navMenu li.sfhover a:hover {  
 color:#116611; z-index:2
}

.navMenu li li:hover a, .navMenu li li.sfhover a,.navMenu li li:hover a:hover, .navMenu li li.sfhover a:hover {  
 color: #236442;
 background:#fefefe;
}
.navMenu li:hover ul a, .navMenu li.sfhover ul a{  
 color: #333333;
 
}

.navMenu li a { 
padding: 8px 12px 5px 12px; 
}

.navMenu li ul a { 
padding: 5px 8px;
display:block; 
background:#f1f1f1;
}

.navMenu li li {
 float:none;
 position:relative;
 border-bottom:1px solid #ffffff;margin:0px;
}

.navMenu li:hover ul ul, .navMenu li:hover ul ul ul, .navMenu li.sfhover ul ul, .navMenu li.sfhover ul ul ul {
 left: -999em;
 border: 1px solid red;
}
.navMenu li:hover ul, .navMenu li li:hover ul, .navMenu li li li:hover ul, .navMenu li.sfhover ul, .navMenu li li.sfhover ul, .navMenu li li li.sfhover ul {
 left: auto;
 margin-left: 0px;
 
}
.navMenu li li:hover ul, .navMenu li li li:hover ul, .navMenu li li.sfhover ul, .navMenu li li li.sfhover ul {
 left: auto;
 top: 0px;
 margin-left: 148px;
 /*margin-top: -40px;*/
 
}
.navMenu li img {
 border: 0px solid #ffffff;
}


/*---------------------*/

.navMenu ul{/*margin-top:5px;padding: 3px 10px;*/}
.navMenu li {/* background: right url('../images/bar_seperator.gif') repeat-y;*/ margin:0px ;text-transform:uppercase;}
.navMenu li.last {background:none;margin:0px;padding:0px;} 
.navMenu li a {padding:5px 18px;color:#fff;text-decoration:none;}

/*--------------------*/