@import url(default.css);


BODY {background-color: #E0E0E0;font-size:11px;line-height:12px ;font-family:verdana,Arial,sans-serif;}
.pageWrapper {margin: 0px auto; width:650px ;}
#header{height:auto;_width:657px;overflow:hidden;background:none;}
#content {background:#fff;_width:638px;border:0px;color:#333;padding:10px;}
#headLinks {display:none;}
#footer{display:none;}

/* default forms  */
#multiForm fieldset{border-width:0px;}
.dlForm fieldset {width:90%;}
.dlForm .multiForm fieldset {width:90%;border-width:1px;width:95%;}
.dlForm fieldset legend, .dlForm fieldset .legend{font-weight:bold;
                                                  color:#000000;font-weight:bold;margin:0 15px;padding:4px 10px;height:22px;position:relative;top:-2px;!top:-3px;font:bold .88em tahoma;
}
.dlForm .multiForm fieldset legend, .dlForm .multiForm fieldset .legend{font-weight:normal;
                                                                        color:#000000;font-weight:bold;margin:0 15px;padding:4px 10px;height:22px;position:relative;top:-2px;!top:-3px;font:bold .88em tahoma;
}
.dlForm dd .fcol .error{display:inline;}

#contentBody {margin: 20px;}
/* table data grid */
.tGrid {width:100%;border-collapse:collapse;border:1px solid #ccc;}
.tGrid td, .tGrid th {border:1px solid;padding: 3px 5px;}
.tGrid thead tr{background:#E2E2E2; color:#333;}
.tGrid thead tr.first{}
.tGrid thead tr.last{}
.tGrid th {border-right:1px solid #ccc;}
.tGrid th.first {}
.tGrid th.last {}
.tGrid tbody tr{border-top:1px dotted #ccc;}
.tGrid tbody tr.first{}
.tGrid tbody tr.last{}
.tGrid tbody td {}
.tGrid tbody td.first {}
.tGrid tbody td.last {}
.tGrid tbody tr:hover {background:#fafafa;color:#333;}
.tGrid tbody tr:hover a{color:#333;}

.tGrid input, .tGrid select, .tGrid textarea {width:97%;}

#multiFormNav{display:none;}
/*
.tGrid {width:100%;}
.tGrid td{padding:2px;}
*/
.dlForm input, .dlForm select, .dlForm textarea {border:default;}
/* form formater */
.dlForm fieldset {border:1px solid red;}
.dlForm label, .dlForm .label{ color:#000;}
.dlForm a {color:#666;text-decoration:underline;}
.dlForm h1{border:0px;margin:0px;}
.dlForm .legend, .dlForm legend {font-weight:bold;}
.dlForm fieldset {border:0px solid #333;position:relative;margin:0px;padding:0px;}
.dlForm dl {margin:0px;height:auto;padding:0px;}
.dlForm dt label {display:block;margin:0px;}
.dlForm dd .fcol ul{margin:0px;padding:0px;list-style:none;border:1px solid #999;display:inline;}
.dlForm dd .fcol li {display:none;margin:0px;padding:0px;list-style:none;}
.dlForm dd .fcol li.fElement {display:inline;}

input, select, textarea {/*font-size: 10px ;*/}
h1 {margin:5px 0px ;font-size:14px;}
h2 {margin:5px 0px ;font-size:13px;}
h3 {margin:0px ;font-size:12px;}
h4 {margin:0px;font-size:11px;}
ol li {margin-top:5px;}

#printBtnBlock input{ font-size:14px;padding:5px;cursor:pointer;}
/*#header .navMenu {background:#d7dcde;height:23px;}*/
.newGrid {width:80%;border-collapse:collapse;border:1px solid #ccc;position:relative;right:4px;}
.newGrid td, .newGrid th {border:1px solid;padding: 0px 0px;}
.newGrid thead tr{background:#E2E2E2; color:#333;}
.newGrid thead tr.first{}
.newGrid thead tr.last{}
.newGrid th {border-right:1px solid #ccc;}
.newGrid th.first {}
.newGrid th.last {}
.newGrid tbody tr{border-top:1px dotted #ccc;}
.newGrid tbody tr.first{}
.newGrid tbody tr.last{}
.newGrid tbody td {}
.newGrid tbody td.first {}
.newGrid tbody td.last {}
.newGrid tbody tr:hover {background:#fafafa;color:#333;}
.newGrid tbody tr:hover a{color:#333;}

.newGrid input, .newGrid select, .newGrid textarea {width:97%;}
.print_table tr td { height:25px; padding:0 0 0 5px;}
.border_top{ border-top:solid 1px #cccccc;}

footer{display: none;}

#bx_toparea {position: relative;}
#bx_toparea>.logo{position: absolute;
width: 8%;
left: 4%;}
#watermark{display: none;}