@import url(default.css);


BODY {background-color: #E0E0E0;font-size:9px;line-height:12px ;font-family:verdana,Arial,sans-serif;}
.pageWrapper {margin: 0px auto; width:100% ;}
#header{height:auto;_width:100%;overflow:hidden;background:none;}
#content {background:#fff;_width:98%;width:98%;border:0px;color:#333;padding:10px 1%;overflow:auto;}
#headLinks {display:none;}
#footer{display:none;}

#multiFormNav{display:none;}

.tGrid {width:100%;}
.tGrid td{padding:2px;}


#contentBody {margin: 20px;}
/* table data grid */
.tGrid {width:100%;border-collapse:collapse;border:1px solid #ccc;}
.tGrid td, .tGrid th {border:1px solid;padding: 3px 5px;}
.tGrid thead tr{background:#E2E2E2; color:#333;}
.tGrid thead tr.first{}
.tGrid thead tr.last{}
.tGrid th {border-right:1px solid #ccc;}
.tGrid th.first {}
.tGrid th.last {}
.tGrid tbody tr{border-top:1px dotted #ccc;}
.tGrid tbody tr.first{}
.tGrid tbody tr.last{}
.tGrid tbody td {}
.tGrid tbody td.first {}
.tGrid tbody td.last {}
.tGrid tbody tr:hover {background:#fafafa;color:#333;}
.tGrid tbody tr:hover a{color:#333;}

.tGrid input, .tGrid select, .tGrid textarea {width:97%;}

#multiFormNav{display:none;}

.dlForm input, .dlForm select, .dlForm textarea {border:default;}
/* form formater */
.dlForm fieldset {border:1px solid red;}
.dlForm label, .dlForm .label{ color:#000;}
.dlForm a {color:#666;text-decoration:underline;}
.dlForm h1{border:0px;margin:0px;}
.dlForm .legend, .dlForm legend {font-weight:bold;}
.dlForm fieldset {border:0px solid #333;position:relative;margin:0px;padding:0px;}
.dlForm dl {margin:0px;height:auto;padding:0px;}
.dlForm dt label {display:block;margin:0px;}
.dlForm dd .fcol ul{margin:0px;padding:0px;list-style:none;border:1px solid #999;display:inline;}
.dlForm dd .fcol li {display:none;margin:0px;padding:0px;list-style:none;}
.dlForm dd .fcol li.fElement {display:inline;}

input, select, textarea {/*font-size: 10px ;*/}
h1 {margin:5px 0px ;font-size:14px;}
h2 {margin:5px 0px ;font-size:13px;}
h3 {margin:0px ;font-size:12px;}
h4 {margin:0px;font-size:11px;}
ol li {margin-top:5px;}

#printBtnBlock input{ font-size:14px;padding:5px;cursor:pointer;}
/*#header .navMenu {background:#d7dcde;height:23px;}*/