@import url(default.css);

.noPrint{display:none;}
.printBreak {page-break-before: always;page-break-after:always;}
#sfWebDebug {display:none;}
BODY {background-color: #E0E0E0;font-size:10px !important;line-height:14px !important; font-family:'arial' !important;}
.pageWrapper {margin: 0px auto; width:650px !important;}
#header{height:auto;overflow:hidden;background:none;}
#site_login {display:none;}
#site_logo .bx_nis_title {display:none;}
#timeclock{display:none;}
#content {background:#fff;border:0px;color:#333;padding:10px;}
#headLinks {display:none;}
#footer{display:none;}
#multiFormNav{display:none;}
/* frontend  */
#homePage #site_links {display:none;}
#homePage #logo .img {float:left;}
#homePage #logo .title {font-size:14px;float:left;margin-top:30px;}
#homePage .calBtn {display:none;}
#homePage #navMenu {display:none;}
#homePage h1{margin:5px 0px;}

/* Print_layout template */

#printLayout h2 ,#printLayout h3,#printLayout h4 {}
#printLayout .XY20 {margin:2px;}
#printLayout ol li {margin:0px;padding:0px;}
#content {padding:0px;}
.tGrid {width:100%;}
.tGrid td, .tGrid th{padding:2px;border:1px solid #ccc;}

.dlForm input, .dlForm select, .dlForm textarea {border:default;}
/* form formater */
.dlForm fieldset {border:1px solid #999;margin-bottom:10px; }
.dlForm label, .dlForm .label{ color:#000;}
.dlForm a {color:#666;text-decoration:underline;}
.dlForm h1{border:0px;margin:0px;}
.dlForm .legend, .dlForm legend {font-weight:bold;font-size:12px;padding-top:1px;}
.dlForm fieldset {border:0px solid #333;position:relative;margin:0px;padding:0px;}
.dlForm dl {margin:0px;height:auto;padding:1px;}
.dlForm dt {background:#ccc;display:inline;float:left;margin:0px;padding:0px;}
.dlForm dd .fcol ul{margin:0px;padding:0px;list-style:none;border:1px solid #999;display:inline;}
.dlForm dd .fcol li {display:none;margin:0px;padding:0px;list-style:none;}
.dlForm dd .fcol li.fElement {display:inline;}

/*.dlForm fieldset{display:block;border-width:0px;}
.dlForm fieldset.bdr{border-width:1px;}
.dlForm .multiForm{width:90%;margin-left:auto;margin-right:auto;}
.dlForm .legend h1 {display:inline;}

.dlForm fieldset .multiForm {border-width:1px;}
.dlForm .multiForm fieldset{border-width:1px;}

#multiForm fieldset{border-width:0px;}
#multiForm .multiForm fieldset{border-width:1px;}

.dlForm .multiForm fieldset dt {width:35%;}
.dlForm .multiForm fieldset dd { width:60%;}

.dlForm .multiForm fieldset.dt25 dt {width:25%;}*/

.bdr{border-width:1px;}



input, select, textarea {font: inherit;font-size:10px;}
h1 {margin:5px 0px ;font-size:14px;}
h2 {margin:5px 0px ;font-size:13px;}
h3 {margin:0px ;font-size:11px;}
h4 {margin:0px;font-size:10px;}



#pageHead {margin:5px 0px;}
.pagingHead {padding:5px 0px;}
/*#header .navMenu {background:#d7dcde;height:23px;}*/

.uiGroup        { border:solid 1px fff;}
/*.legend         { padding:5px; font-width:bold; border-top:solid 1px #000;  border-bottom:solid 1px #000;}*/
.uiGroup dl     {}
.uiGroup dt     {/*display:block; */float:left; width:200px;}
.uiGroup dd     {margin:1px; }
.formBorder {margin:0px 0px 1px 0px;border:1px solid #999!important; width:95%; padding:1px;}
.formBorderIn {border:1px solid #999;margin:4px;padding-left:5px; }


.curv_body ul li{font-size:10px;}
.legend_new{ font-weight:bold; font-size:11px;}
.highlight{ padding:0; margin:0;}
textarea{ height:18px; width:250px;}
.height_15{ *height:8px; *clear:both;}
.height_250{ height:90px; *height:0px!important; *display:none!important;}
.height_150{ height:0px; *height:0px!important; *display:none!important;}
.height_50{ height:50px; *height:0px!important; *display:none!important;}
#passport_application_title_id_row p{*margin:0px;}
