/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 20, 2014, 1:36:41 PM
    Author     : Mohd Afzal
*/

#home-page,#inner-page{
    width: 1170px;
}
.navbar-top .navbar-header img{
    width: 100px;
}

#welcomePage .col-sm-3{
    min-height: 600px;
    width: 261px!important;
}

.carousel-caption{
    background-color: #3F8848;
}



.small-footer>li,.carousel-indicators LI{display: inline !important}
.main-content>.row,.curv_body>.row{
    width: 102.5%!important;
}

.main-content>.row>.col-xs-12,.curv_body>.row>.col-xs-12{
    width: 97.5%!important;    
}

/*.row {
    width: 100%!important;
}*/

.row:after {
    content: " "!important;
    display: table!important;
}
.row:before {
    content: " "!important;
    display: table!important;
}

.panel-custom{
    width: 1168px!important;
}
.panel-custom .panel-body>.row>.col-sm-3{
    width: 284px!important;
}

.panel-custom .panel-body>.row>.col-sm-9{
    width: 854px!important;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

.col-sm-12 {
    width: 89.64%!important;
}
.col-sm-11 {
    width: 82.17%!important;
}
.col-sm-10 {
    width: 74.7%!important;
}
.col-sm-9 {
    width: 67.23%!important;
}
.col-sm-8 {
    width: 59.76%!important;
}
.col-sm-7 {
    width: 52.29%!important;
}
.col-sm-6 {
    width: 44.82%!important;
}
.col-sm-5 {
    width: 37.35%!important;
}
.col-sm-4 {
    width: 29.88%!important;
}
.col-sm-3 {
    width: 22.41%!important;
}
.col-sm-2 {
    width: 14.94%!important;
}
.col-sm-1 {
    width: 7.47%!important;
}

.panel-custom > .panel-body {
    padding: 15px 0;
}


.scroller {
    width: 280px!important;
    margin: 0!important;
}
.form-block-well.admin-form-block-well {
    width: 65%!important;
    margin: 0 auto 15px!important;
}

hr, .alert{
    clear: both!important;
}

.thumbnail-custom > a{
    background: none;
}

.footer{
    height: 50px!important;
}

