@charset "utf-8";
/* CSS Document */

body {background-color:#e0e0e0;font-family:arial,helvetica,sans-serif;font-size:12px;line-height:18px;}
h4 {margin: 5px 0px; font-size:14px;}
h5 {font-size:13px;line-height:14px}
ol {padding-left:30px;line-height:15px;}
ol li {margin-bottom:10px;}
a {color:#CC6600;}

#content_body h1{font-size:20px;color:#cc9900;font-weight:normal;margin:0px 0px 20px;min-height:1px;}

#navMenu a{text-decoration:none;color:#333;}
#navMenu a:hover{text-decoration:underline;}
#navMenu a:active{color:#666;}

/* form Formating */
.dlForm fieldset{border-color:#ccc;}
.dlForm legend, .dlForm .legend{background-color:#fff;color:#999;}
.dlForm legend, .dlForm .legend_new{background-color:#fff;color:#999;}

.dlForm ul.fcol li.help{}
.dlForm .error_list {background:#f8f8f8;border:1px dotted #ff0000;color:#ff0000;}
.dlForm dt {font-weight:normal;}

dl {margin:0px;padding:0px;}
dt {font-weight:bold;line-height:25px;}

.nameAnchor{display:block;margin:10px 0px;border-top:1px dotted #cecece;padding-top:5px ;}
